<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="no-js">
<head>
    <div th:replace="/user/user_fragment/link.html :: link"></div>
    <div th:replace="/user/user_fragment/css_link.html :: css_link"></div>
    <script rel="javascript" type="text/javascript" src="" th:src="@{/assets/js/jquery-3.6.0.js}"></script>
</head>
<body>
<header id="header" th:replace="/user/user_fragment/main_fragment.html :: main_header">


</header><!-- #header -->

<!-- start banner Area -->
<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Blog Details Page
                </h1>
                <p class="text-white link-nav"><a th:href="@{/user/index}">Home </a> <span
                        class="lnr lnr-arrow-right"></span><a th:href="@{/user/blog}">Blog </a> <span
                        class="lnr lnr-arrow-right"></span> <a href="#"> Blog Single</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start post-content Area -->
<section class="post-content-area single-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post row">
                    <div class="col-lg-12">
                        <div class="feature-img">
                            <img class="img-fluid" src="../../../static/img/blog/feature-img1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-3 meta-details">
                        <ul class="tags">
                            <li><a href="#" th:text="${blogDTO.getBlogCategoryDTO().blogCategoryName}">Food,</a></li>
                        </ul>
                        <div class="user-details row">
                            <p class="user-name col-lg-12 col-md-12 col-6"><a href="#"
                                                                              th:text="${blogDTO.getMemberDTO().memberName}">작성자</a>
                                <span
                                        class="lnr lnr-user"></span></p>
                            <p class="date col-lg-12 col-md-12 col-6"><a href="#" th:text="${blogDTO.blogDate}"
                                                                         style="font-size: 10px">날짜</a>
                                <span
                                        class="lnr lnr-calendar-full"></span></p>
                            <p class="view col-lg-12 col-md-12 col-6"><a href="#" th:text="${blogDTO.blogViewSize}">Views</a>
                                <span
                                        class="lnr lnr-eye"></span></p>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <h3 class="mt-20 mb-20" th:text="${blogDTO.blogTitle}">블로그 제목</h3>
                        <div style="text-align: center;margin: 20px 0px;">
                            <img style="width: 50%;
                            height: 200px; border-radius: 15px;"
                                 th:src="@{${blogDTO.blogTopImgPath}+'/'+${blogDTO.blogTopImgName}}">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="quotes">
                            <div class="blogContant">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="comments-area" th:if="${#lists.size(blogDTO.getBlogCommentDTOList())} != 0">
                    <h4 th:text="${#lists.size(blogDTO.getBlogCommentDTOList())}+' Comments'">댓글 수</h4>
                    <div class="comment-list" th:each="blogCommet : ${blogDTO.getBlogCommentDTOList()}">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <!--                                <div class="thumb">-->
                                <!--                                    <img th:src="@{/img/blog/c1.jpg}" alt="">-->
                                <!--                                </div>-->
                                <div class="desc">
                                    <h5><a href="#" th:text="${blogCommet.getMember_sq().memberName}">이름</a></h5>
                                    <p class="date" th:text="${blogCommet.blogCommentDate}">댓글 날짜</p>
                                    <p class="comment" th:text="${blogCommet.comment}">
                                        댓글 내용
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn"
                                 th:if="${session.memberSq}==${blogCommet.getMember_sq().member_sq} or ${#strings.equals(session.memberRole,'[ROLE_ADMIN]')}">
                                <a th:href="@{/user/blog/delete(memberSq=${session.memberSq},getCommentMember=${blogCommet.memberSq},
                                blogCommentSq=${blogCommet.blogCommentSq},blogSq=${blogCommet.blogSq})}"
                                   class="btn-reply text-uppercase">삭제</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                댓글 작성-->
                <div class="comment-form" th:if="${session.memberEMail != null}">
                    <h4>댓글 작성</h4>
                    <form id="commentForm" th:action="@{/user/blog/comment}" method="post">
                        <div class="form-group form-inline">
                            <div class="form-group col-lg-6 col-md-12 name">
                                <input type="hidden" name="blogSq" th:value="${blogDTO.blogSq}">
                                <input type="hidden" class="form-control" th:value="${session.memberSq}" id="memberSq"
                                       name="memberSq">
                                <input type="hidden" class="form-control" th:value="${session.memberName}" id="name"
                                       name="memberName">
                                <input type="text" class="form-control" th:value="${session.memberName}"
                                       placeholder="이름"
                                       disabled="">
                            </div>
                            <div class="form-group col-lg-6 col-md-12 email">
                                <input type="hidden" class="form-control" id="email" th:value="${session.memberEMail}"
                                       name="memberEmail">
                                <input type="email" class="form-control" th:value="${session.memberEMail}"
                                       placeholder="이메일" disabled="">
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control mb-10" rows="5" name="comment"
                                      placeholder="댓글을 작성해주세요."></textarea>
                        </div>
                        <button class="primary-btn text-uppercase" type="submit">작성</button>
                    </form>
                </div>
                <div class="comment-form" th:if="${session.memberEMail == null}">
                    <h4>댓글 작성</h4>
                    <div>
                        <p>
                            <a th:href="@{/user/account/login}">로그인 후 작성 가능합니다.</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebar-widgets">
                <div class="widget-wrap">
                    <div class="single-sidebar-widget user-info-widget">
                        <img src="../../../static/img/blog/user-info.png" alt="">
                        <a href="#"><h4>soso</h4></a>
                        <p>
                            soso Blog
                        </p>
                        <ul class="social-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                        <p>
                            soso 블로그의 한마디.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End post-content Area -->

<!-- start footer Area -->
<footer class="footer-area" th:replace="/user/user_fragment/main_fragment.html :: footer">
</footer>
<!-- End footer Area -->
<div th:replace="/user/user_fragment/script_src.html :: script"></div>
<script th:inline="javascript">
    $(document).ready(function () {

        /*<![CDATA[*/
        var memberSq = [[${session.memberSq}]];
        /*]]>*/

        if (memberSq != null) {
            memberStartConnect();
            setTimeout(() => sendCount(memberSq, [[${session.memberEMail}]], [[${session.memberRole}]]), 3000);
        }

        /*<![CDATA[*/
        var result = /*[[ ${blogDTO.blogContant} ]]*/;
        /*]]*/

        $('.blogContant').append(result);
    });

</script>
</body>
</html>