<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>소소한부엌</title>
    <script rel="javascript" type="text/javascript" src="" th:src="@{/assets/js/jquery-3.6.0.js}"></script>
    <div th:replace="/admin_fragment/cssAndScript.html :: css"></div>

    <!-- Include Choices CSS -->
    <link rel="stylesheet" href="assets/vendors/choices.js/choices.min.css"
          th:href="@{/assets/vendors/choices.js/choices.min.css}"/>

    <link rel="stylesheet" th:href="@{/assets/vendors/summernote/summernote-lite.min.css}">
</head>

<body>
<div id="app">
    <div id="sidebar" class="active">
        <div th:replace="/admin_fragment/side-bar.html :: side-var"></div>
    </div>
    <div id="main">
        <header class="mb-3">
            <a class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>블로그</h3>
                        <p class="text-subtitle text-muted">블로그 글을 추가하거나 삭제할 수 있습니다.</p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html" th:href="@{/admin/index}">Main</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- 카테고리 추가 -->
            <section class="section" id="basic-horizontal-layouts">
                <div class="row match-height">
                    <div class="col-md-6 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">카테고리 추가</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form form-horizontal" method="get" id="blog_category_form"
                                          th:action="@{/menu/add-category}">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>카테고리 이름</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" id="blog_category_name" class="form-control"
                                                           name="blogCategoryName" placeholder="카테고리 이름">
                                                </div>
                                                <div class="col-sm-12 d-flex justify-content-end">
                                                    <button type="button" onclick="addBlogCategory()"
                                                            class="btn btn-primary me-1 mb-1">Add
                                                    </button>
                                                    <button type="reset"
                                                            class="btn btn-light-secondary me-1 mb-1">Reset
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  카테고리 리스트-->
                    <div class="col-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">카테고리 목록</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <p class="card-text">
                                        설정한 메뉴 카테고리를 삭제하거나 변경할 수 있습니다.
                                    </p>
                                </div>

                                <!-- Table with no outer spacing -->
                                <div class="table-responsive">
                                    <table class="table mb-0 table-lg">
                                        <thead>
                                        <tr>
                                            <th>NAME</th>
                                            <th></th>
                                            <th><p>총 갯수:<span th:text="${#lists.size(blogCategoryList)}"></span></p>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="blogCategory : ${blogCategoryList}">
                                            <td class="text-bold-500" th:text="${blogCategory.blogCategoryName}">
                                                카테고리 이름
                                            </td>
                                            <td style="padding: 0px">
                                                <button type="button" data-bs-toggle="modal" data-bs-backdrop="false"
                                                        th:attr="data-bs-target='#changeModal'+${blogCategory.category_sq}"
                                                        class="btn btn-primary">변경
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade"
                                                     th:id="changeModal+${blogCategory.category_sq}"
                                                     tabindex="-1"
                                                     aria-labelledby="newCategory" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered"
                                                         role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="newCategory">새로운 카테고리
                                                                    이름</h5>
                                                                <button type="button" class="close"
                                                                        data-bs-dismiss="modal" aria-label="Close">
                                                                    <i data-feather="x"></i>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="mb-3">
                                                                    <label th:for="reCategory_name+${blogCategory.category_sq}"
                                                                           class="col-form-label">카테고리 이름</label>
                                                                    <input type="text" class="form-control"
                                                                           th:id="reBlogCategory_name+${blogCategory.category_sq}">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary"
                                                                        th:onclick="changeBlogCategory([[${blogCategory.category_sq}]])">
                                                                    변경
                                                                </button>
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">닫기
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-bold-500" style="padding: 0px">
                                                <button type="button" data-bs-toggle="modal" data-bs-backdrop="false"
                                                        th:attr="data-bs-target='#deleteModal'+${blogCategory.category_sq}"
                                                        class="btn btn-danger">삭제
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade"
                                                     th:id="deleteModal+${blogCategory.category_sq}"
                                                     tabindex="-1"
                                                     aria-labelledby="deleteCategory" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered"
                                                         role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteCategory">카테고리
                                                                    삭제</h5>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                삭제하시겠습니까?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger"
                                                                        th:onclick="deleteBlogCategory([[${blogCategory.category_sq}]])">
                                                                    네
                                                                </button>
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">아니오
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--            카테고리 끝-->
            <section class="section">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">글쓰기</h4>
                            </div>
                            <input type="hidden" id="hiddenMemberSq" th:value="${session.memberSq}">
                            <input type="hidden" id="hiddenBlogId" th:value="${blogIndex}">
                            <div class="col-md-6" style="padding: 0 1.5rem;">
                                <input class="form-control" type="text" placeholder="제목" id="blogTitle"
                                       name="blogTitle">
                            </div>
                            <div class="col-md-6 col-12" style="padding: 0 1.5rem; margin-top: 8px">
                                <fieldset class="form-group">
                                    <label for="blogCategorySelect">카테고리 설정</label>
                                    <select class="form-select" id="blogCategorySelect" name="blogCategorySq">
                                        <option th:each="blogCategorySelect : ${blogCategoryList}"
                                                th:value="${blogCategorySelect.category_sq}"
                                                th:text="${blogCategorySelect.blogCategoryName}"
                                        ></option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-md-6 mb-1" style="padding: 0 1.5rem; margin-top: 8px">
                                <fieldset>
                                    <div class="input-group">
                                        <input type="file" class="form-control" id="inputView"
                                               aria-describedby="viewImg"
                                               aria-label="Upload">
                                    </div>
                                    <div>
                                        <small>블로그를 대표할 이미지입니다.</small>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="mb-3" style="text-align: right; margin-right: 30px;">
                                <button class="btn btn-info rounded-pill" id="startBlogButton" onclick="startBlog()">글쓰기 시작</button>
                            </div>
                            <div class="card-body" id="blogContant">
                                <div id="summernote"></div>
                            </div>
                            <div class="mb-3" style="text-align: right; margin-right: 30px;">
                                <button class="btn btn-info rounded-pill" id="insertBlogButton" onclick="insertBlog()">
                                    등록
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- // Basic Horizontal form layout section end -->
        </div>
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2021 &copy; version 0.0.1</p>
                </div>
                <div class="float-end">
                    <p>페이지 오류 문의 <span class="text-danger"><i class="bi bi-heart"></i></span> : <a
                            href="http://ahmadsaugi.com">kevin0181@naver.com</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
<div th:replace="/admin_fragment/cssAndScript.html :: script"></div>
<script rel="javascript" type="text/javascript" src="" th:src="@{/assets/js/blog.js}"></script>

<script src="assets/vendors/quill/quill.min.js" th:src="@{/assets/vendors/quill/quill.min.js}"></script>

<script th:src="@{/assets/vendors/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/vendors/summernote/summernote-lite.min.js}"></script>
<script>

    $(document).ready(function () {
        $('#blogContant').hide();
        $('#insertBlogButton').hide();
    });

    $('#blogContant').on("click", function () {
        if (!$('#blogTitle').val()) {
            alert("재목을 입력해주세요.");
            $('#blogContant').hide();
            return false;
        }
    });

    function startBlog() {
        if (!$('#blogTitle').val()) {
            alert("재목을 입력해주세요.");
            $('#blogContant').hide();
            return false;
        }
        $('#blogContant').show();
        $('#insertBlogButton').show();
        $('#startBlogButton').hide();

        var form_data = new FormData();
        var BlogId = $('#hiddenBlogId').val();
        var nameSq = $('#hiddenMemberSq').val();
        var title = $('#blogTitle').val();
        var category = $('#blogCategorySelect').val();

        form_data.append('BlogId', BlogId);
        form_data.append('MemberSq', nameSq);
        form_data.append('BlogTitle', title);
        form_data.append('BlogCategory', category);
        form_data.append('condition', 'makeBlogStart');

        $.ajax({

            type: "POST",
            url: '/admin/blog/image',
            dataType: "json",
            data: {
                "BlogId": BlogId,
                "MemberSq": nameSq,
                "BlogTitle": title,
                "BlogCategory": category,
                "condition": "makeBlogStart"
            }
        });

    }


    $('#summernote').summernote({
        tabsize: 1,
        height: 300,
        placeholder: '블로그 내용을 입력해주세요.',
        callbacks: {	//여기 부분이 이미지를 첨부하는 부분
            onImageUpload: function (files, editor, welEditable) {
                for (var i = 0; i < files.length; i++) {
                    sendFile(files[i], this);
                }
            }
        }
    });


    /**
     * 이미지 파일 업로드
     */

    function sendFile(file, el) {

        var BlogId = $('#hiddenBlogId').val();
        var form_data = new FormData();
        form_data.append('file', file);
        form_data.append('BlogId', BlogId);
        form_data.append('condition', 'addImg');
        $.ajax({
            data: form_data,
            type: "POST",
            url: '/admin/blog/image',
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (url) {
                $(el).summernote('insertImage', url, function ($image) {
                    $image.css('width', "25%");
                });
            }
        });
    }

</script>
</html>