<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>소소한부엌</title>
    <script rel="javascript" type="text/javascript" src="" th:src="@{/assets/js/jquery-3.6.0.js}"></script>
    <div th:replace="/admin_fragment/cssAndScript.html :: css"></div>

    <!--    메뉴추가-->
    <link rel="stylesheet" href="assets/vendors/quill/quill.bubble.css"
          th:href="@{/assets/vendors/quill/quill.bubble.css}">
    <link rel="stylesheet" href="assets/vendors/quill/quill.snow.css" th:href="@{/assets/vendors/quill/quill.snow.css}">
    <!--    리스트-->
    <link rel="stylesheet" href="assets/vendors/simple-datatables/style.css"
          th:href="@{/assets/vendors/simple-datatables/style.css}">

    <!-- Include Choices CSS -->
    <link rel="stylesheet" href="assets/vendors/choices.js/choices.min.css"
          th:href="@{/assets/vendors/choices.js/choices.min.css}"/>
</head>

<body>
<div id="app">
    <div id="sidebar" class="active">
        <div th:replace="/admin_fragment/side-bar.html :: side-var"></div>
    </div>
    <div id="main">
        <header class="mb-3">
            <a class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>메뉴 추가&삭제</h3>
                        <p class="text-subtitle text-muted">메뉴를 추가하거나 삭제할 수 있음</p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html" th:href="@{/admin/index}">Main</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Menu add & delete</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- // Basic Horizontal form layout section end -->

            <!-- // Basic multiple Column Form section start -->
            <section class="section">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">메뉴 추가</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form" id="menu_id_form" method="post" th:action="@{/menu/add-menu}"
                                          enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-6 col-12" style="width: 100%">
                                                <div class="form-group">
                                                    <label for="menu_name">메뉴 이름</label>
                                                    <input type="text" id="menu_name" class="form-control"
                                                           placeholder="menu name" name="menuName">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <fieldset class="form-group">
                                                    <label for="basicSelect">카테고리 설정</label>
                                                    <select class="form-select" id="basicSelect"
                                                            name="menuCategorySq">
                                                        <option th:each="categortlist : ${categoryList}"
                                                                th:value="${categortlist.category_sq}"
                                                                th:text="${categortlist.category_name}"
                                                        ></option>
                                                    </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="menu_img">메뉴 이미지</label>
                                                    <input class="form-control" type="file" id="menu_img"
                                                           name="menu_img" accept="image/png, image/jpeg"
                                                           multiple="">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="menu_price">가격</label>
                                                    <input type="number" id="menu_price" class="form-control"
                                                           name="menu_price" placeholder="price">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12" style="height: 50%; margin-top: 30px;">
                                                <div class="form-group">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox"
                                                               name="menu_enable"
                                                               id="flexSwitchCheckChecked" checked="">
                                                        <label class="form-check-label" for="flexSwitchCheckChecked">메뉴
                                                            활성화(비활성화를 하면 메뉴가 유저에게 보이지 않습니다.)</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--         글쓰는 부분-->
                                            <div class="card-body">
                                                <div class="form-group mb-3">
                                                    <label for="insertContant" class="form-label">
                                                        메뉴 내용</label>
                                                    <textarea class="form-control" id="insertContant"
                                                              name="menu_contant"
                                                              rows="3"></textarea>
                                                </div>
                                            </div>
                                            <!--     글쓰는 부분-->
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="button" onclick="addMenu()"
                                                        class="btn btn-primary me-1 mb-1">
                                                    Add
                                                </button>
                                                <button type="reset"
                                                        class="btn btn-light-secondary me-1 mb-1">Reset
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Basic multiple Column Form section end -->
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">메뉴 목록</h4>
                    </div>
                    <div class="card-body">
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                            <div class="dataTable-top">
                                <div class="row">
                                    <form id="searchForm" method="get" th:action="@{/admin/add-menu}">
                                        <div style="display: inline-block; margin-right: 10px;">
                                            <div class="form-check" style="display: inline-block;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="form-check-input form-check-success"
                                                           checked="" name="customCheck" id="searchAbleTrue"
                                                           value="true"
                                                           name="searchAbleTrue">
                                                    <label class="form-check-label"
                                                           for="searchAbleTrue">활성화</label>
                                                </div>
                                            </div>
                                            <div class="form-check" style="display: inline-block;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="form-check-input form-check-danger"
                                                           checked="" name="customCheck" id="searchAbleFalse"
                                                           value="false"
                                                           name="searchAbleFalse">
                                                    <label class="form-check-label"
                                                           for="searchAbleFalse">비활성화</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="display: inline-block">
                                            <select class="form-select" id="searchCategory"
                                                    name="searchCategory">
                                                <option th:each="categortlist : ${categoryList}"
                                                        th:value="${categortlist.category_name}"
                                                        th:text="${categortlist.category_name}"
                                                ></option>
                                            </select>
                                        </div>
                                        <div style="display: inline-block">
                                            <input class="dataTable-input" id="searchMenu" name="searchText"
                                                   placeholder="검색" type="text">
                                        </div>
                                        <div style="display: inline-block">
                                            <button type="submit"
                                                    class="btn btn-light rounded-pill">
                                                메뉴 검색
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="dataTable-container">
                                <table class="table table-striped dataTable-table" id="table1">
                                    <thead>
                                    <tr>
                                        <th data-sortable="" style="width: 5.1983%;"></th>
                                        <th data-sortable="" style="width: 12.1983%;"><a href="#"
                                                                                         class="dataTable-sorter">Category</a>
                                        </th>
                                        <th data-sortable="" style="width: 43.6642%;"><a href="#"
                                                                                         class="dataTable-sorter">Name</a>
                                        </th>
                                        <th data-sortable="" style="width: 16.3568%;"><a href="#"
                                                                                         class="dataTable-sorter">Price</a>
                                        </th>
                                        <th data-sortable="" style="width: 12.0596%;"><a href="#"
                                                                                         class="dataTable-sorter">Status</a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="menulist : ${menuList}">
                                        <td>
                                            <input type="checkbox"
                                                   class="form-check-input form-check-primary form-check-glow"
                                                   name="menuCheck" id="customColorCheck1"
                                                   th:value="${menulist.menuSq}">
                                        </td>
                                        <td th:text="${menulist.categoryDTO != null} ? ${menulist.categoryDTO.category_name}:' '">
                                            카테고리이름
                                        </td>
                                        <td>
                                            <p th:text="${menulist.menuName}" data-bs-toggle="modal"
                                               th:attr="data-bs-target='#f-menuName'+${menulist.menuSq}"
                                               style="margin-bottom: 0px; display: inline-block;">메뉴이름</p>
                                            <small th:if="${menulist.menuToday} == true" style="color: #0dcaf0;">(오늘의
                                                메뉴)</small>
                                            <small th:if="${menulist.menuSoldOut} == true"
                                                   style="color: #ffc107;">(품절)</small>
                                            <!-- modal-->
                                            <div class="modal fade text-left" th:id="f-menuName+${menulist.menuSq}"
                                                 tabindex="-1"
                                                 role="dialog" aria-labelledby="f-modal"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered"
                                                     role="document">
                                                    <div class="modal-content">
                                                        <div th:class="'modal-header '+${menulist.menu_enable ? 'bg-success' : 'bg-danger'}">
                                                            <h5 class="modal-title white" id="f-modal"
                                                                th:if="${menulist.menu_enable}">
                                                                활성화 된 메뉴
                                                            </h5>
                                                            <h5 class="modal-title white" id="f-modal"
                                                                th:unless="${menulist.menu_enable}">
                                                                비활성화 된 메뉴
                                                            </h5>
                                                            <button type="button" class="close"
                                                                    data-bs-dismiss="modal" aria-label="Close">
                                                                <i data-feather="x"></i>
                                                            </button>
                                                        </div>
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="contant-title"
                                                                th:text="${menulist.menuName}">
                                                            </h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p th:text="${menulist.menu_contant}">내용</p>
                                                            <div class="card-body">
                                                                <div th:id="imgItemCarousel+${menulist.menuSq}"
                                                                     class="carousel slide carousel-fade"
                                                                     data-bs-ride="carouselfade">
                                                                    <div class="carousel-inner">
                                                                        <div class="carousel-item"
                                                                             th:each="imgMenuList,index : ${menulist.menu_img_sq}"
                                                                             th:classappend="${index.index} == 0 ?'active'">
                                                                            <img th:src="@{'/menu-img/'+${imgMenuList.menuSq}+'/'
                                                                        +${imgMenuList.img_date}+'/'+${imgMenuList.img_name}}"
                                                                                 class="d-block w-100" alt="...">
                                                                        </div>
                                                                    </div>

                                                                    <a class="carousel-control-prev"
                                                                       th:href="'#imgItemCarousel'+${menulist.menuSq}"
                                                                       role="button"
                                                                       data-bs-slide="prev">
                                                                    <span class="carousel-control-prev-icon"
                                                                          aria-hidden="true"></span>
                                                                        <span class="visually-hidden">Previous</span>
                                                                    </a>
                                                                    <a class="carousel-control-next"
                                                                       th:href="'#imgItemCarousel'+${menulist.menuSq}"
                                                                       role="button"
                                                                       data-bs-slide="next">
                                                                    <span class="carousel-control-next-icon"
                                                                          aria-hidden="true"></span>
                                                                        <span class="visually-hidden">Next</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                    th:class="'btn ml-1 '+${menulist.menu_enable ? 'btn-success':'btn-danger'}"
                                                                    th:attr="data-bs-target='#s-menuName'+${menulist.menuSq}"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-dismiss="modal">
                                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                                <span class="d-none d-sm-block">수정</span>
                                                            </button>
                                                            <button type="button"
                                                                    class="btn btn-light-secondary"
                                                                    data-bs-dismiss="modal">
                                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                                <span class="d-none d-sm-block">닫기</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--  second modal-->
                                            <div class="modal fade text-left" th:id="s-menuName+${menulist.menuSq}"
                                                 tabindex="-1"
                                                 role="dialog" aria-labelledby="s-modal"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-scrollable modal-full"
                                                     role="document">
                                                    <div class="modal-content">
                                                        <div th:class="'modal-header '+${menulist.menu_enable ? 'bg-success' : 'bg-danger'}">
                                                            <h5 class="modal-title white" id="s-modal"
                                                                th:if="${menulist.menu_enable}">
                                                                활성화 된 메뉴(수정 중)
                                                            </h5>
                                                            <h5 class="modal-title white" id="s-modal"
                                                                th:unless="${menulist.menu_enable}">
                                                                비활성화 된 메뉴(수정 중)
                                                            </h5>
                                                            <button type="button" class="close"
                                                                    data-bs-dismiss="modal" aria-label="Close">
                                                                <i data-feather="x"></i>
                                                            </button>
                                                        </div>
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="second-modal-contant-title"
                                                                th:text="${menulist.menuName}+' 수정 창'">
                                                            </h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form th:id="changeMenuModal+${menulist.menuSq}"
                                                                  method="post">
                                                                <div style="padding: 1rem;border-bottom: 1px solid #dee2e6; display: flex;">
                                                                    <input type="hidden" name="menuSq"
                                                                           th:value="${menulist.menuSq}">
                                                                    <input type="hidden" name="menu_enable"
                                                                           th:value="${menulist.menu_enable}">
                                                                    <div style="display: inline-block; margin: 0 auto;">
                                                                        <label style="color: rgba(35,28,99,.7);font-weight: 600;">
                                                                            메뉴 이름: </label>
                                                                        <input type="text" placeholder="메뉴 이름"
                                                                               th:id="changeMenuName+${menulist.menuSq}"
                                                                               th:value="${menulist.menuName}"
                                                                               name="menuName"
                                                                               class="form-control">
                                                                    </div>
                                                                    <div style="display: inline-block; margin: 0 auto;">
                                                                        <label style="color: rgba(35,28,99,.7);font-weight: 600;"
                                                                               for="changeCategorySelect">
                                                                            카테고리: </label>
                                                                        <select class="form-select"
                                                                                id="changeCategorySelect"
                                                                                name="menuCategorySq">
                                                                            <option th:each="categortlist : ${categoryList}"
                                                                                    th:selected="${menulist.menuCategorySq} == ${categortlist.category_sq}"
                                                                                    th:value="${categortlist.category_sq}"
                                                                                    th:text="${categortlist.category_name}"
                                                                            ></option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group mb-3 mt-3">
                                                                    <label for="changeContant"
                                                                           class="form-label">수정 내용</label>
                                                                    <textarea class="form-control"
                                                                              th:text="${menulist.menu_contant}"
                                                                              id="changeContant" name="menu_contant"
                                                                              rows="3">
                                                                    </textarea>
                                                                </div>
                                                                <section id="groups"
                                                                         th:if="${menulist.menu_img_sq.size()} != 0">
                                                                    <div class="row match-height">
                                                                        <div class="col-12 mt-3 mb-1">
                                                                            <h4 class="section-title text-uppercase">
                                                                                이미지 선택 삭제</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row match-height">
                                                                        <div class="col-12">
                                                                            <div class="card-group">
                                                                                <div class="card"
                                                                                     style="text-align: center;"
                                                                                     th:each="imgMenuList,index : ${menulist.menu_img_sq}">
                                                                                    <div class="card-content">
                                                                                        <img th:class="'img-thumbnail'"
                                                                                             style="height: 200px;"
                                                                                             th:src="@{'/menu-img/'+${imgMenuList.menuSq}+'/'
                                                                        +${imgMenuList.img_date}+'/'+${imgMenuList.img_name}}"
                                                                                             alt="Card image cap">
                                                                                        <div class="card-body">
                                                                                            <p class="card-text"
                                                                                               th:text="${imgMenuList.img_name}">
                                                                                                이미지 이름</p>
                                                                                            <li class="d-block me-2 mb-1">
                                                                                                <div class="form-check">
                                                                                                    <div class="custom-control custom-checkbox"
                                                                                                         style="display: inline-block;">
                                                                                                        <input type="checkbox"
                                                                                                               class="form-check-input form-check-danger"
                                                                                                               th:value="${imgMenuList.img_sq}"
                                                                                                               name="delete_img_sq"
                                                                                                               th:id="img_sq+${imgMenuList.img_sq}">
                                                                                                        <label class="form-check-label"
                                                                                                               style="font-size: 13px;"
                                                                                                               th:for="img_sq+${imgMenuList.img_sq}">
                                                                                                            삭제
                                                                                                            체크
                                                                                                        </label>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </li>
                                                                                            <small class="text-muted"
                                                                                                   th:text="${imgMenuList.img_date}">이미지
                                                                                                날짜</small>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                                <div class="mb-3">
                                                                    <label for="formFile" class="form-label">이미지
                                                                        추가</label>
                                                                    <input class="form-control" type="file"
                                                                           id="formFile"
                                                                           name="menu_img"
                                                                           accept="image/png, image/jpeg"
                                                                           multiple="">
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="row">
                                                                        <div class="col-sm-4">
                                                                            <div class="form-group">
                                                                                <label for="roundText">가격</label>
                                                                                <input type="text" id="roundText"
                                                                                       class="form-control round"
                                                                                       th:value="${menulist.menu_price}"
                                                                                       th:id="'changeMenuPrice'+${menulist.menuSq}"
                                                                                       name="menu_price"
                                                                                       placeholder="가격">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <div class="form-group"
                                                                                 style="margin-top: 30px">
                                                                                <div class="form-check">
                                                                                    <div class="custom-control custom-checkbox">
                                                                                        <input type="checkbox"
                                                                                               class="form-check-input form-check-warning form-check-glow"
                                                                                               name="menuSoldOut"
                                                                                               th:checked="${menulist.menuSoldOut} == true"
                                                                                               id="soldOutCheckBox">
                                                                                        <label class="form-check-label"
                                                                                               for="soldOutCheckBox">품절</label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <div class="form-group"
                                                                                 style="margin-top: 30px">
                                                                                <div class="form-check">
                                                                                    <div class="custom-control custom-checkbox">
                                                                                        <input type="checkbox"
                                                                                               class="form-check-input form-check-info form-check-glow"
                                                                                               name="menu_today"
                                                                                               th:checked="${menulist.menuToday} == true"
                                                                                               id="todayCheckBox">
                                                                                        <label class="form-check-label"
                                                                                               for="todayCheckBox">오늘의
                                                                                            메뉴</label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                    th:onclick="changeMenu([[${menulist.menuSq}]])"
                                                                    th:class="'btn ml-1 '+${menulist.menu_enable ? 'btn-success':'btn-danger'}">
                                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                                <span class="d-none d-sm-block">수정</span>
                                                            </button>
                                                            <button type="button"
                                                                    class="btn btn-light-secondary"
                                                                    data-bs-dismiss="modal">
                                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                                <span class="d-none d-sm-block">닫기</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                        <td th:text="${menulist.menu_price}" th:if="${menuList}">가격</td>
                                        <td>
                                            <a th:if="${menulist.menu_enable}"
                                               th:href="@{/admin/add-menu(condition='active',menu_sq=${menulist.menuSq},active='false')}"
                                               th:class="'badge '+${menulist.menu_enable? 'bg-success':'bg-danger'}">활성화</a>
                                            <a th:unless="${menulist.menu_enable}"
                                               th:href="@{/admin/add-menu(condition='active',menu_sq=${menulist.menuSq},active='true')}"
                                               th:class="'badge '+${menulist.menu_enable? 'bg-success':'bg-danger'}">비활성화</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="dataTable-bottom">
                                <div class="dataTable-info">
                                    <button onclick="deleteMenu()"
                                            class="btn btn-outline-danger">삭제
                                    </button>
                                </div>
                                <div th:if="${startSzie != null && maxSize != null}">
                                    <ul class="pagination pagination-primary float-end dataTable-pagination">
                                        <li class="page-item pager "
                                            th:classappend="${menuList.pageable.pageNumber}-1 == -1 ? 'btn-none'">
                                            <a th:href="@{/admin/add-menu(className='add-menu',pageId=${menuList.pageable.pageNumber}-1)}"
                                               class="page-link">‹</a>
                                        </li>
                                        <li class="page-item "
                                            th:each="num : ${#numbers.sequence(startSzie,maxSize)}"
                                            th:classappend="${num} - 1 == ${menuList.pageable.pageNumber} ? 'active'">
                                            <a th:text="${num}"
                                               th:href="@{/admin/add-menu(className='add-menu',pageId=${num}-1)}"
                                               class="page-link">페이징 처리</a>
                                        </li>
                                        <li class="page-item pager "
                                            th:classappend="${menuList.pageable.pageNumber}+1 == ${menuList.totalPages} ? 'btn-none'">
                                            <a th:href="@{/admin/add-menu(className='add-menu',pageId=${menuList.pageable.pageNumber}+1)}"
                                               class="page-link">›</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2021 &copy; version 0.0.1</p>
                </div>
                <div class="float-end">
                    <p>페이지 오류 문의 <span class="text-danger"><i class="bi bi-heart"></i></span> : <a
                            href="http://ahmadsaugi.com">kevin0181@naver.com</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
<div th:replace="/admin_fragment/cssAndScript.html :: script"></div>
<script rel="javascript" type="text/javascript" src="" th:src="@{/assets/js/addMenu.js}"></script>
<!-- Include Choices JavaScript -->
<script src="assets/vendors/choices.js/choices.min.js" th:src="@{/assets/vendors/choices.js/choices.min.js}"></script>

<script src="assets/vendors/quill/quill.min.js" th:src="@{/assets/vendors/quill/quill.min.js}"></script>
<script src="assets/js/pages/form-editor.js" th:src="@{/assets/js/pages/form-editor.js}"></script>
<!--리스트-->
<script src="assets/vendors/simple-datatables/simple-datatables.js"
        th:src="@{/assets/vendors/simple-datatables/simple-datatables.js}"></script>
<script th:inline="javascript">
    // Simple Datatable
    let table1 = document.querySelector('#table1');
    let dataTable = new simpleDatatables.DataTable(table1);

    var kk;
    var menu_active;

    function changeActive(kk, menu_active) {
        console.log(kk);
        console.log(menu_active);
    }
</script>

</html>