<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="/integrated/Favicon_Link/favicon.html :: link"></div>
    <title>소소한 부엌</title>
    <script rel="javascript" type="text/javascript" src="" th:src="@{/assets/js/jquery-3.6.0.js}"></script>
    <div th:replace="/admin_fragment/cssAndScript.html :: css"></div>
    <!--    리스트-->
    <link rel="stylesheet" href="assets/vendors/simple-datatables/style.css"
          th:href="@{/assets/vendors/simple-datatables/style.css}">
</head>

<body>
<div id="app">
    <div id="sidebar" class="active">
        <div th:replace="/admin_fragment/side-bar.html :: side-var"></div>
    </div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>회원 리스트</h3>
                        <p class="text-subtitle text-muted">회원 관리 페이지 입니다.</p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/admin/index}">Main</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Member</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <section class="section">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped" id="table1">
                            <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="form-check-input form-check-primary form-check-glow"
                                           name="listCheck" id="listCheck">
                                </th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>address</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="memberlist : ${memberList}">
                                <td>
                                    <input type="checkbox" class="form-check-input form-check-primary form-check-glow"
                                           name="memberSq" id="memberSq" th:value="${memberlist.member_sq}">
                                </td>
                                <td th:text="${memberlist.memberName}">이름</td>
                                <td th:text="${memberlist.memberEmail}">이메일</td>
                                <td th:text="${memberlist.memberPhonenumber}">전화번호</td>
                                <td th:text="${memberlist.memberAddress}">주소</td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            <button onclick="deleteMember()" class="btn btn-outline-danger">삭제
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2021 &copy; version 0.0.1</p>
                </div>
                <div class="float-end">
                    <p>페이지 오류 문의 <span class="text-danger"><i class="bi bi-heart"></i></span> :
                        <a>kevin0181@naver.com</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
<div th:replace="/admin_fragment/cssAndScript.html :: script"></div>
<!--리스트-->
<script src="assets/vendors/simple-datatables/simple-datatables.js"
        th:src="@{/assets/vendors/simple-datatables/simple-datatables.js}"></script>
<script>
    // Simple Datatable
    let table1 = document.querySelector('#table1');
    let dataTable = new simpleDatatables.DataTable(table1);

    $('#listCheck').click(function () {
        if ($("#listCheck").is(':checked')) {
            $("input[name=memberSq]").prop("checked", true);
        } else {
            $("input[name=memberSq]").prop("checked", false);
        }
    });

    function deleteMember() {
        var MemberCheck = [];
        $("input:checkbox[name='memberSq']:checked").each(function () {
            MemberCheck.push($(this).val());     // 체크된 것만 값을 뽑아서 배열에 push
        });
        if (isEmptyArr(MemberCheck)) {
            alert("삭제할 회원을 체크해주세요.");
            return false;
        } else {
            $.ajax({
                type: "GET",
                url: "/admin/member/delete-MemberList",
                dataType: "json",
                data: {
                    "memberCheck": MemberCheck,
                    "condition": "delete"
                }
            });
            alert("회원이 탈퇴되었습니다.");
            location.href = "/admin/MemberList";
        }
    }

    //배열 빈값 체크
    function isEmptyArr(arr) {
        if (Array.isArray(arr) && arr.length === 0) {
            return true;
        }
        return false;
    }
</script>
<script th:inline="javascript">
    $(document).ready(function () {
        connect();
    })
</script>
</html>