<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>head</title>
    <div th:fragment="css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}">

        <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css"
              th:href="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.css}">
        <link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css"
              th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.css}">
        <link rel="stylesheet" href="assets/css/app.css" th:href="@{/assets/css/app.css}">
        <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon"
              th:href="@{/assets/images/favicon.svg}">
        <link rel="stylesheet" th:href="@{/assets/css/mine/mine.css}">
    </div>

    <div th:fragment="script">
        <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"
                th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
        <script src="assets/js/bootstrap.bundle.min.js" th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

        <script src="assets/js/main.js" th:src="@{/assets/js/main.js}"></script>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script th:src="@{/mineFile/js/message.js}"></script>
    </div>
</head>
</html>