<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="script">
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"
            th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script src="assets/js/bootstrap.bundle.min.js" th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

    <script src="assets/vendors/apexcharts/apexcharts.js" th:src="@{/assets/vendors/apexcharts/apexcharts.js}"></script>
    <script src="assets/js/pages/dashboard.js" th:src="@{/assets/js/pages/dashboard.js}"></script>

    <script src="assets/js/main.js" th:src="@{/assets/js/main.js}"></script>
</head>
<head th:fragment="bar_script">
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"
            th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script src="assets/js/bootstrap.bundle.min.js" th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

    <script src="assets/js/main.js" th:src="@{/assets/js/main.js}"></script>
</head>
</html>