<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>side bar</title>
</head>
<div id="sidebar" class="active">
    <div class="sidebar-wrapper active" th:fragment="side-var">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                </div>
                <div class="toggler">
                    <a class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">소소한부엌</li>
                <li class="sidebar-item " th:classappend="${className} == 'index' ? 'top-active'">
                    <a href="index.html" th:href="@{/admin/index(className='index')}" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Main</span>
                    </a>
                </li>
                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link' th:classappend="${(className == 'add-category' ? 'top-active':'')+
                                                                        (className == 'add-menu' ? 'top-active':'')}">
                        <i class="bi bi-stack"></i>
                        <span>Menu</span>
                    </a>
                    <ul class="submenu ">
                        <li class="" th:classappend="${className} == 'add-category' ? 'btn-active'">
                            <a href="form-layout.html" th:href="@{/admin/add-category(className='add-category')}" style="margin-top: 5px"
                               class='sidebar-link'>
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span>Category add & delete</span>
                            </a>
                        </li>
                        <li class="" th:classappend="${className} == 'add-menu' ? 'btn-active'">
                            <a href="form-layout.html" th:href="@{/admin/add-menu(className='add-menu')}" style="margin-top: 5px"
                               class='sidebar-link'>
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span>Menu add & delete</span>
                            </a>
                        </li>
                    </ul>

                <li class="sidebar-item " th:classappend="${className} == 'MemberList' ? 'top-active'">
                    <a href="table-datatable.html" class='sidebar-link'
                       th:href="@{/admin/MemberList(className='MemberList')}">
                        <i class="bi bi-grid-1x2-fill"></i>
                        <span>Member</span>
                    </a>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</html>