<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>side bar</title>
</head>
<div id="sidebar" class="active">
    <div class="sidebar-wrapper active" th:fragment="side-var">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                </div>
                <div class="toggler">
                    <a class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">소소한부엌</li>
                <li class="sidebar-item " th:classappend="${className} == 'index' ? 'active'">
                    <a href="index.html" th:href="@{/admin/index(className='index')}" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Main</span>
                    </a>
                </li>

                <li class="sidebar-item  " th:classappend="${className} == 'add-menu' ? 'active'">
                    <a href="form-layout.html" th:href="@{/admin/add-menu(className='add-menu')}"
                       class='sidebar-link'>
                        <i class="bi bi-file-earmark-medical-fill"></i>
                        <span>Menu add & delete</span>
                    </a>
                </li>

            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</html>