<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>side bar</title>
</head>
<div id="sidebar" class="active">
    <div class="sidebar-wrapper active" th:fragment="side-var">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <small style="font-size: 20px" th:text="${session.memberName}+'님 환영합니다.'"></small>
                    <div>
                        <form name="logoutAdminForm" style="display: none" th:action="@{/admin/logout}" method="post">
                        </form>
                        <a style="font-size: 15px" href="#"
                           th:onclick="adminLogout([[${session.memberSq}]],[[${session.memberRole}]])">로그아웃</a>
                    </div>
                </div>
                <div class="toggler">
                    <a class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">소소한부엌</li>
                <li class="sidebar-item " th:classappend="${className} == 'index' ? 'top-active'">
                    <a href="index.html" th:href="@{/admin/index(className='index')}" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Main</span>
                    </a>
                </li>
                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link' th:classappend="${(className == 'add-category' ? 'top-active':'')+
                                                                        (className == 'add-menu' ? 'top-active':'')}">
                        <i class="bi bi-stack"></i>
                        <span>Menu</span>
                    </a>
                    <ul class="submenu ">
                        <li class="" th:classappend="${className} == 'add-category' ? 'btn-active'">
                            <a href="form-layout.html" th:href="@{/admin/add-category(className='add-category')}"
                               style="margin-top: 5px"
                               class='sidebar-link'>
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span>Category add & delete</span>
                            </a>
                        </li>
                        <li class="" th:classappend="${className} == 'add-menu' ? 'btn-active'">
                            <a href="form-layout.html" th:href="@{/admin/add-menu(className='add-menu')}"
                               style="margin-top: 5px"
                               class='sidebar-link'>
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span>Menu add & delete</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item " th:classappend="${className} == 'sosoMenu' ? 'top-active'">
                    <a href="table-datatable.html" class='sidebar-link'
                       th:href="@{/admin/soso/addMenu(className='sosoMenu')}">
                        <i class="bi bi-stack"></i>
                        <span>soso Menu</span>
                    </a>
                </li>
                <li class="sidebar-item " th:classappend="${className} == 'MemberList' ? 'top-active'">
                    <a href="table-datatable.html" class='sidebar-link'
                       th:href="@{/admin/MemberList(className='MemberList')}">
                        <i class="bi bi-grid-1x2-fill"></i>
                        <span>Member</span>
                    </a>
                </li>
                <li class="sidebar-item " th:classappend="${className} == 'Blog' ? 'top-active'">
                    <a href="table-datatable.html" class='sidebar-link'
                       th:href="@{/admin/Blog(className='Blog')}">
                        <i class="bi bi-grid-1x2-fill"></i>
                        <span>Blog</span>
                    </a>
                </li>
                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'
                       th:classappend="${(className == 'kiosk' ? 'top-active':'')+(className == 'addKioskMenu'?'top-active':'')}">
                        <i class="bi bi-stack"></i>
                        <span>Kiosk</span>
                    </a>
                    <ul class="submenu ">
                        <li class="sidebar-item " th:classappend="${className} == 'addKioskMenu' ? 'btn-active'">
                            <a class='sidebar-link'
                               th:href="@{/admin/kiosk/addMenu(className='addKioskMenu')}">
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>키오스크 메뉴 추가</span>
                            </a>
                        </li>
                        <li class="sidebar-item " th:classappend="${className} == 'kiosk' ? 'btn-active'">
                            <a class='sidebar-link'
                               th:href="@{/admin/All/OrderList(className='kiosk')}">
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>키오스크 주문 현황</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="" th:classappend="${className} == 'pas' ? 'top-active'">
                    <a href="form-layout.html" th:href="@{/admin/orderList(className='pas')}"
                       style="margin-top: 5px"
                       class='sidebar-link'>
                        <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                        <span>Kiosk & Pas Start</span>
                    </a>
                </li>
                <li class="sidebar-item " th:classappend="${className} == 'pasList' ? 'top-active'">
                    <a href="table-datatable.html" class='sidebar-link'
                       th:href="@{/admin/All/OrderList(className='pasList')}">
                        <i class="bi bi-grid-1x2-fill"></i>
                        <span>&pas 주문 현황</span>
                    </a>
                </li>
                <!--                        <li class="" th:classappend="${className} == 'soso' ? 'btn-active'">-->
                <!--                            <a href="form-layout.html" th:href="@{/admin/orderList(className='soso')}"-->
                <!--                               style="margin-top: 5px"-->
                <!--                               class='sidebar-link'>-->
                <!--                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>-->
                <!--                                <span>소소한 부엌</span>-->
                <!--                            </a>-->
                <!--                        </li>-->
                <!--                <li class="sidebar-item " th:classappend="${className} == 'sosoList' ? 'top-active'">-->
                <!--                    <a href="table-datatable.html" class='sidebar-link'-->
                <!--                       th:href="@{/admin/All/OrderList(className='sosoList')}">-->
                <!--                        <i class="bi bi-grid-1x2-fill"></i>-->
                <!--                        <span>soso 전체 주문</span>-->
                <!--                    </a>-->
                <!--                </li>-->
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</html>