<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div th:fragment="sidebar">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a href="admin_index.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item active ">
                        <a href="admin_index.html" class='sidebar-link' th:href="@{/admin/index}">
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-stack"></i>
                            <span>Components</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="component-alert.html" th:href="@{/admin/component/alert}">Alert</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="component-button.html" th:href="@{/admin/component/button}">Button</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="component-pagination.html"
                                   th:href="@{/admin/component/pagination}">Pagination</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-collection-fill"></i>
                            <span>Extra Components</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="extra-component-sweetalert.html" th:href="@{/admin/extracomponent/sweetalert}">Sweet
                                    Alert</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="extra-component-toastify.html" th:href="@{/admin/extracomponent/toastify}">Toastify</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-title">Forms &amp; Tables</li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-hexagon-fill"></i>
                            <span>Form Elements</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="form-element-input.html" th:href="@{/admin/form/input}">Input</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="form-element-input-group.html" th:href="@{/admin/form/input-group}">Input
                                    Group</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="form-element-select.html" th:href="@{/admin/form/select}">Select</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="form-element-radio.html" th:href="@{/admin/form/radio}">Radio</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="form-element-checkbox.html" th:href="@{/admin/form/checkbox}">Checkbox</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="form-element-textarea.html" th:href="@{/admin/form/textarea}">Textarea</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  ">
                        <a href="form-layout.html" class='sidebar-link' th:href="@{/admin/form/layout}">
                            <i class="bi bi-file-earmark-medical-fill"></i>
                            <span>Form Layout</span>
                        </a>
                    </li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-pen-fill"></i>
                            <span>Form Editor</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="form-editor-summernote.html" th:href="@{/admin/form/editor}">Summernote</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  ">
                        <a href="table.html" class='sidebar-link' th:href="@{/admin/table}">
                            <i class="bi bi-grid-1x2-fill"></i>
                            <span>Table</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a href="table-datatable.html" class='sidebar-link' th:href="@{/admin/datatable}">
                            <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                            <span>Datatable</span>
                        </a>
                    </li>

                    <li class="sidebar-title">Extra UI</li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-pentagon-fill"></i>
                            <span>Widgets</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="ui-widgets-chatbox.html" th:href="@{/admin/widgets/chatbox}">Chatbox</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="ui-widgets-todolist.html" th:href="@{/admin/widgets/todolist}">To-do List</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a href="ui-file-uploader.html" class='sidebar-link' th:href="@{/admin/fileupload}">
                            <i class="bi bi-cloud-arrow-up-fill"></i>
                            <span>File Uploader</span>
                        </a>
                    </li>

                    <li class="sidebar-title">Pages</li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-badge-fill"></i>
                            <span>Authentication</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a href="auth-login.html" th:href="@{/admin/auth/login}">Login</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="auth-register.html" th:href="@{/admin/auth/register}">Register</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="auth-forgot-password.html" th:href="@{/admin/auth/password}">Forgot Password</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
</div>

<header class="mb-3" th:fragment="header_dropdown_bar">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>


<footer th:fragment="footer">
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p>2021 &copy; version 0.0.1</p>
        </div>
        <div class="float-end">
            <p>페이지 오류 문의 <span class="text-danger"><i class="bi bi-heart"></i></span> : <a
                    href="http://ahmadsaugi.com">kevin0181@naver.com</a></p>
        </div>
    </div>
</footer>

</html>