<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>soso_header</title>
</head>
<header th:fragment="main_header" id="header" class="head">
    <th:div sec:authorize="isAuthenticated()" style="color:red;">
        Logged email: <span sec:authentication="principal.username">Bob</span>
        Logged role: <span sec:authentication="principal.authorities">Bob</span>
        Logged password: <span sec:authentication="principal.password">Bob</span>
    </th:div>
    <div style="text-align: right;">
        <a class="a_top_btn" style="color:white;" th:href="@{/user/account/login}">login</a>
        <a class="a_top_btn" style="color:white;" th:href="@{/user/account/signupPage}">sign up</a>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-center">
                <div id="logo">
                    <a href="index.html"><img src="../../../static/img/logo.png" alt="" title=""/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-center d-flex">
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="index.html" th:href="@{/user/index}">Home</a></li>
                    <li><a href="menu.html" th:href="@{/user/menu}">Menu & Order</a></li>
                    <li class="menu-has-children"><a href="#">Blog</a>
                    </li>
                    <!-- <li><a href="elements.html">Elements</a></li> -->
                    </li>
                    <li><a href="contact.html" th:href="@{/user/about}">About</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->

        </div>
    </div>
</header><!-- #header -->


<!-- start banner Area -->
<section class="banner-area" th:fragment="banner_section">
    <div style="background-color: #4d6957;">
        <img th:src="@{/img/salf_img/main_img2.jpg}" class="main_img" style="z-index: -1">
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-between">
                <div class="col-lg-12 banner-content">
                    <!--                <h6 class="text-white">헤헤헤헿</h6>-->
                    <h1 class="fw-normal soso_font"><a class="simple_btn main_font" th:href="@{/user/index}">소소한 부엌</a>
                    </h1>
                    <p class="text-white">
                        집가고싶다 집가고싶다고 제발 집보내주세요 짜증나 죽을꺼같으니깐 하
                    </p>
                    <a href="#" th:href="@{/user/menu}" class="btn green_btn text-uppercase ">Order</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->


<!-- Start home-about Area -->
<section class="home-about-area section-gap" th:fragment="home_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 home-about-left">
                <h1>today menu</h1>
                <p>
                    연어초밥, 돈까스, 햄버거 먹고싶다 짜장면.. 하 배고파; 새우먹고싶다;
                </p>
                <a href="#" class="green_btn primary-btn">view this menu</a>
            </div>
            <div class="col-lg-6 home-about-right">
                <img class="img-fluid" src="../../../static/img/about-img.jpg" th:src="@{/img/about-img.jpg}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End home-about Area -->


<!-- Start menu-area Area -->
<section class="menu-area section-gap" id="menu" th:fragment="menu_section">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Order Menu</h1>
                    <p>자자 싸게팝니다~ 빠르게 하나씩 고르세용~><</p>
                </div>
            </div>
        </div>

        <ul class="filter-wrap filters col-lg-12 no-padding">
            <li class="active" data-filter="*">All Menu</li>
            <li data-filter=".breakfast">Breakfast</li>
            <li data-filter=".lunch">Lunch</li>
            <li data-filter=".dinner">Dinner</li>
            <li data-filter=".budget-meal">Budget Meal</li>
            <li data-filter=".buffet">Buffet</li>
        </ul>

        <div class="filters-content">
            <div class="row grid">
                <div class="col-md-6 all breakfast">
                    <div class="single-menu" style="text-align: center;">
                        <div class="title-wrap d-flex justify-content-between">
                            <h4>Cappuccion</h4>
                            <h4 class="price">$49</h4>
                        </div>
                        <img th:src="@{/img/b1.jpg}" style="border-radius: 20px;">
                    </div>
                </div>
                <div class="col-md-6 all dinner">
                    <div class="single-menu">
                        <div class="title-wrap d-flex justify-content-between">
                            <h4>Americano</h4>
                            <h4 class="price">$49</h4>
                        </div>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advance.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 all budget-meal">
                    <div class="single-menu">
                        <div class="title-wrap d-flex justify-content-between">
                            <h4>Macchiato</h4>
                            <h4 class="price">$49</h4>
                        </div>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advance.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 all breakfast">
                    <div class="single-menu">
                        <div class="title-wrap d-flex justify-content-between">
                            <h4>Mocha</h4>
                            <h4 class="price">$49</h4>
                        </div>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advance.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 all lunch">
                    <div class="single-menu">
                        <div class="title-wrap d-flex justify-content-between">
                            <h4>Piccolo Latte</h4>
                            <h4 class="price">$49</h4>
                        </div>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advance.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 all buffet">
                    <div class="single-menu">
                        <div class="title-wrap d-flex justify-content-between">
                            <h4>Ristretto</h4>
                            <h4 class="price">$49</h4>
                        </div>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advance.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End menu-area Area -->


<!-- Start order Area -->
<section class="reservation-area section-gap relative" th:fragment="order_section">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 reservation-left">
                <h1 class="text-white">Order Page</h1>
                <p class="text-white pt-20">
                    주문할꺼면 하나씩해라 화나게하지말고
                </p>
            </div>
            <div class="col-lg-5 reservation-right">
                <form class="form-wrap text-center" action="#">
                    <input type="text" class="form-control" name="name" placeholder="Your Name"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'">
                    <input type="email" class="form-control" name="email" placeholder="Your Email Address"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'">
                    <input type="text" class="form-control" name="phone" placeholder="Phone Number"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'">
                    <input type="text" class="form-control date-picker" name="date" placeholder="Select Date & time"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Select Date & time'">
                    <div class="form-select" id="service-select">
                        <select>
                            <option data-display="">Select Event</option>
                            <option value="1">Event One</option>
                            <option value="2">Event Two</option>
                            <option value="3">Event Three</option>
                            <option value="4">Event Four</option>
                        </select>
                    </div>
                    <button class="primary-btn text-uppercase mt-20" style="background-color: #3ea99d;">Order</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End reservation Area -->


<!-- Start menuReview Area -->
<section class="blog-area section-gap" id="blog" th:fragment="menuReview_section">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">soso Blog</h1>
                    <p>인생이 서글프다 ㅋ</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="../../../static/img/b1.jpg" alt="">
                </div>
                <p class="date">10 Jan 2018</p>
                <a href="blog-single.html" th:href="@{/user/blog-single}"><h4>Cooking Perfect Fried Rice
                    in minutes</h4></a>
                <p>
                    inappropriate behavior ipsum dolor sit amet, consectetur.
                </p>
                <div class="meta-bottom d-flex justify-content-between">
                    <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                    <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="../../../static/img/b2.jpg" alt="">
                </div>
                <p class="date">10 Jan 2018</p>
                <a href="blog-single.html"><h4>Secret of making Heart
                    Shaped eggs</h4></a>
                <p>
                    inappropriate behavior ipsum dolor sit amet, consectetur.
                </p>
                <div class="meta-bottom d-flex justify-content-between">
                    <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                    <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="../../../static/img/b3.jpg" alt="">
                </div>
                <p class="date">10 Jan 2018</p>
                <a href="blog-single.html"><h4>How to check steak if
                    it is tender or not</h4></a>
                <p>
                    inappropriate behavior ipsum dolor sit amet, consectetur.
                </p>
                <div class="meta-bottom d-flex justify-content-between">
                    <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                    <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="../../../static/img/b4.jpg" alt="">
                </div>
                <p class="date">10 Jan 2018</p>
                <a href="blog-single.html"><h4>Seaseme and black seed
                    Flavored Bun Rocks</h4></a>
                <p>
                    inappropriate behavior ipsum dolor sit amet, consectetur.
                </p>
                <div class="meta-bottom d-flex justify-content-between">
                    <p><span class="lnr lnr-heart"></span> 15 Likes</p>
                    <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End blog Area -->


<!-- start footer Area -->
<footer class="footer-area" th:fragment="footer">
    <div class="footer-widget-wrap">
        <div class="container">
            <div class="row section-gap">
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Opening Hours</h4>
                        <ul class="hr-list">
                            <li class="d-flex justify-content-between">
                                <span>Monday - Friday</span> <span>08.00 am - 10.00 pm</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Saturday</span> <span>08.00 am - 10.00 pm</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Sunday</span> <span>08.00 am - 10.00 pm</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Contact Us</h4>
                        <p>
                            56/8, los angeles, rochy beach, Santa monica, United states of america - 1205
                        </p>
                        <p class="number">
                            012-6532-568-9746 <br>
                            012-6532-569-9748
                        </p>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Newsletter</h4>
                        <p>You can trust us. we only send promo offers, not a single spam.</p>
                        <div class="d-flex flex-row" id="mc_embed_signup">


                            <form class="navbar-form"
                                  action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                  method="get">
                                <div class="input-group add-on align-items-center d-flex">
                                    <input class="form-control" name="EMAIL" placeholder="Your Email address"
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Your Email address'" required="" type="email">
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                               type="text">
                                    </div>
                                    <div class="input-group-btn">
                                        <button class="genric-btn"><span class="lnr lnr-arrow-right"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="info mt-20"></div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>SNS</h4>
                        <ul class="col-lg-4 col-mdcol-sm-6 -6 social-icons">
                            <li style="display: inline-block; margin-left: 3px;"><a href="#" class="custom-fa"><i
                                    class="fa fa-facebook"></i></a></li>
                            <li style="display: inline-block; margin-left: 3px;"><a href="#" class="custom-fa"><i
                                    class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom-wrap" th:fragment="footer_bottom">
        <div class="container">
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <!--                <p class="col-lg-8 col-mdcol-sm-6 -6 footer-text m-0">-->
                <!--                    &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
                <!--                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>-->
                <!--                    All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a-->
                <!--                        href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a-->
                <!--                        href="https://themewagon.com" target="_blank">ThemeWagon</a>-->
                <!--                    &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;</p>-->
                <!--                <ul class="col-lg-4 col-mdcol-sm-6 -6 social-icons text-right">-->
                <!--                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
                <!--                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                <!--                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
                <!--                    <li><a href="#"><i class="fa fa-behance"></i></a></li>-->
                <!--                </ul>-->

                <p class="col-lg-8 col-mdcol-sm-6 -6 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Developer by 넨이 &nbsp; &nbsp; <a href="https://code-nen.tistory.com/">Blog</a> | <a
                        href="https://github.com/kevin0181">Github</a>
                    &nbsp; &nbsp; &nbsp; 페이지 오류 문의 : kevin0181@naver.com
                </p>
                <ul class="col-lg-4 col-mdcol-sm-6 -6 social-icons text-right">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <!--                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                    <!--                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
                    <!--                    <li><a href="#"><i class="fa fa-behance"></i></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->

</html>