<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>soso</title>
</head>
<header th:fragment="main_header" id="header" class="head">
    <!--    <th:div sec:authorize="isAuthenticated()" style="color:red;">-->
    <!--        Logged email: <span sec:authentication="principal.username">Bob</span>-->
    <!--        Logged role: <span sec:authentication="principal.authorities">Bob</span>-->
    <!--        Logged password: <span sec:authentication="principal.password">Bob</span>-->
    <!--    </th:div>-->
    <div style="text-align: right;">
        <div th:if="${session.memberEMail == null}">
            <a class="a_top_btn" style="color:white;" th:href="@{/user/account/login}">login</a>
            <a class="a_top_btn" style="color:white;" th:href="@{/user/account/signupPage}">sign up</a>
        </div>
        <div th:unless="${session.memberEMail == null}">
            <span class="a_top_btn" style="color:white; padding: 5px 0px 0px 0px"
                  th:text="${session.memberName}">회원이름</span>
            <span class="a_top_btn" style="color:white; padding: 5px 13px 0px 0px;">님</span>
            <form name="logoutForm" style="display: none" th:action="@{/user/logout}" method="post">

            </form>
            <a class="a_top_btn" style="color:white;" href="#"
               th:onclick="logoutActive([[${session.memberEMail}]],[[${session.memberSq}]])">logout</a>
        </div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-center">
                <div id="logo" style="text-align: center;">
                    <a href="index.html"><img th:src="@{/img/fav.png}" style="width: 10%;" alt="로고" title=""/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-center d-flex">
            <nav id="nav-menu-container" style="width: auto">
                <ul class="nav-menu">
                    <li><a href="index.html" th:href="@{/user/index}">Home</a></li>
                    <li class="menu-has-children">
                        <a href="#">Reserve & Order</a>
                        <ul>
                            <li><a th:href="@{/user/Reserve/soso}">soso Reserve</a></li>
                            <li><a th:href="@{/user/menu}">&pas Order</a></li>
                        </ul>
                    </li>
                    <li class=""><a th:href="@{/user/blog}">Blog</a>
                    </li>
                    <!-- <li><a href="elements.html">Elements</a></li> -->
                    </li>
                    <li><a href="contact.html" th:href="@{/user/about}">About</a></li>
                    <li th:if="${session.memberSq}!= null"><a
                            th:href="@{/user/myInfo(memberSq=${session.memberSq})}">My Info</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->

        </div>
    </div>
</header><!-- #header -->


<!-- start banner Area -->
<section class="banner-area" th:fragment="banner_section">
    <div>
        <div class="main_img"
             style="z-index: -1">
        </div>
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-between">
                <div class="col-lg-12 banner-content">
                    <!--                <h6 class="text-white">헤헤헤헿</h6>-->
                    <h1 class="fw-normal soso_font"><a class="simple_btn main_font" th:href="@{/user/index}">소소한 부엌</a>
                    </h1>
                    <p class="text-white">
                        소소한 부엌 입니다.
                    </p>
                    <a href="#" th:href="@{/user/menu}" class="btn green_btn text-uppercase ">Order</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->


<!-- Start home-about Area -->
<section class="home-about-area section-gap" th:fragment="home_section" th:if="${todayMenu} != null">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 home-about-left">
                <h2 th:text="${todayMenu.menuName}" class="mb-5">오늘의 메뉴 title</h2>
                <p th:text="${todayMenu.menu_contant}" class="mb-1">
                    오늘의 메뉴 contant
                </p>
                <a href="#" class="green_btn primary-btn my-5">Today Menu</a>
            </div>
            <div class="card-body">
                <div th:id="carouselExampleControls+${todayMenu.menuSq}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item " th:each="imgMenuList,index : ${todayMenu.menu_img_sq}"
                             th:classappend="${index.index} == 0 ?'active'">
                            <img th:src="@{'/img/menu/'+${imgMenuList.menuSq}+'/' +${imgMenuList.img_date}+'/'+${imgMenuList.img_name}}"
                                 style="height: 320px" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End home-about Area -->


<!-- Start menu-area Area -->
<section class="menu-area section-gap" id="menu" th:fragment="menu_section">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">앤 빠스떼우 주문 메뉴</h1>
                    <p id="openId"></p>
                </div>
            </div>
        </div>

        <ul class="filter-wrap filters col-lg-12 no-padding">
            <li class="active" data-filter="*">모든 메뉴</li>
            <li th:each="categoryList : ${category}"
                th:text="${categoryList.categoryName}"
                th:attr="data-filter='.'+${categoryList.category_sq}"></li>
        </ul>
        <div class="filters-content">
            <div class="row grid">
                <div class="col-md-4 all " th:each="menulist : ${menu}" th:classappend="${menulist.menuCategorySq}"
                     th:if="${menulist.menuEnable} == true">
                    <div class="single-menu click_white" th:id="menu+${menulist.menuSq}"
                         style="text-align: center;padding: 15px"
                         th:onclick="menuClick([[${menulist.menuSq}]],[[${menulist.menuName}]],[[${menulist.menuSoldOut}]])">
                        <div class="title-wrap d-flex justify-content-between">
                            <h4 th:text="${menulist.menuName}">음식이름</h4>
                            <h4 class="price" th:text="${menulist.menu_price}">음식 가격</h4>
                        </div>
                        <small style="color: #ffc107; position: absolute;left: 10%;" th:if=" ${menulist.menuSoldOut}">(품절)</small>
                        <p th:text="${menulist.menu_contant}">
                            음식 contant
                        </p>
                        <div class="card-body">
                            <div id="menuImg" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item " th:each="img,index : ${menulist.menu_img_sq}"
                                         th:classappend="${index.index} == 0 ?'active'">
                                        <img th:src="@{'/img/menu/'+${img.menuSq}+'/' +${img.img_date}+'/'+${img.img_name}}"
                                             class="d-block w-100" alt="..."
                                             style="border-radius: 20px; width: 100%;height: 150px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End menu-area Area -->

<!-- Start order Area -->
<section class="reservation-area section-gap relative" th:fragment="order_section">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 reservation-left">
                <h1 class="text-white">앤 빠스떼우 주문 페이지</h1>
            </div>
            <div class="col-lg-5 reservation-right">
                <div class="form-wrap text-center" style="background-color: #f9f9ff;" action="#">
                    <div style="margin-bottom: 20px;"><small>앤 빠스떼우 예약페이지입니다. <a th:href="@{/user/Reserve/soso}">소소한부엌
                        주문하러가기</a></small></div>
                    <input type="text" class="form-control" name="name" placeholder="이름" id="orderName"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = '이름'">
                    <input type="email" class="form-control" name="email" placeholder="주소" id="orderAddress"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = '주소'">
                    <input type="text" class="form-control" name="phone" placeholder="번호" id="orderNumber"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = '번호'">
                    <div class="" style="">
                        <textarea class="single-textarea form-control" style="border: 1px solid #eeeeee;" id="orderHelp"
                                  placeholder="하고싶은 말을 적어주세요."></textarea>
                    </div>
                    <div class="input-group-icon mb-5">
                        <div class="" style="height: 40px;width: 100%;" id="default-select">
                            <select id="selectPasPayVale">
                                <option value="none">지불 방식</option>
                                <option value="kakaopay">카카오페이</option>
                                <!--                                <option value="tosspay">토스</option>-->
                                <!--                                        <option value="payco">페이코</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="form-menu" id="menuForm" style="">
                        <small id="smallOrderText">위 메뉴를 클릭하여 메뉴를 추가해주세요.</small>
                    </div>
                    <div class="mt-10">
                        <input type="checkbox" id="pasOrderCheckbox" name="ordersPolicy"
                               class="mr-3"><span> <a th:href="@{/user/soso/Reserve/policy}"
                                                      target="_blank">주문 정보 활용 동의</a></span>
                    </div>
                    <button class="primary-btn text-uppercase mt-20" style="background-color: #3ea99d;"
                            th:onclick="orderAlert([[${session.memberSq}]],[[${session.memberEMail}]])">
                        주문
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End reservation Area -->

<!--th:onclick="orderMenu([[${session.memberSq}]])"-->
<!-- Start menuReview Area -->
<section class="blog-area section-gap" id="blog" th:fragment="menuReview_section">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">soso Blog</h1>
                </div>
            </div>
        </div>
        <p th:if="${blogDTO.totalPages} == 0" style="text-align: center;">개시된 블로그가 없습니다.</p>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 single-blog" th:each="blog : ${blogDTO}"
                 th:if="${blog.blogViewActive}">
                <div class="thumb">
                    <img class="img-fluid" style="height: 250px;"
                         th:src="@{${blog.blogTopImgPath+'/'+blog.blogTopImgName}}" alt="블로그 사진">
                </div>
                <a th:href="@{/user/blog-single(blogSq=${blog.blogSq},up='true')}">
                    <h4 th:text="${blog.blogTitle}" style="margin-top: 15px;">블로그 제목</h4>
                </a>
                <p>
                    <!--                    짧막한 말쓸수있음-->
                </p>
                <div class="meta-bottom d-flex justify-content-between">
                    <p th:text="${blog.blogViewSize}+' Views'"><span class="lnr lnr-heart"></span></p>
                    <div style="display: inherit;">
                        <span class="lnr lnr-bubble"></span>
                        <p th:text="${#lists.size(blog.getBlogCommentDTOList())}+' Comments'">
                            댓글수
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End blog Area -->


<!-- start footer Area -->
<footer class="footer-area" th:fragment="footer">
    <div class="footer-widget-wrap">
        <div class="container">
            <div class="row section-gap">
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>시간</h4>
                        <ul class="hr-list">
                            <li class="d-flex justify-content-between">
                                <span>Monday - Friday</span> <span>08.00 am - 10.00 pm</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Saturday</span> <span>X</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Sunday</span> <span>X</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>위치</h4>
                        <p>
                            경기 안산시 단원구 예술대학로 171
                        </p>
                        <p class="number">
                            070-8888-9956 <br>
                            010-8318-9956
                        </p>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>문제</h4>
                        <p>계정에 문제가 있거나 문의가 있으면 이메일을 적어주세요.<br>(빠른시일내에 응답드리겠습니다.)</p>
                        <div class="d-flex flex-row" id="mc_embed_signup">


                            <form class="navbar-form"
                                  action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                  method="get">
                                <div class="input-group add-on align-items-center d-flex">
                                    <input class="form-control" name="EMAIL" placeholder="Your Email address"
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Your Email address'" required="" type="email">
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                               type="text">
                                    </div>
                                    <div class="input-group-btn">
                                        <button class="genric-btn" onclick="alert('기능 추가중에 있습니다. 불편을 드려 죄송합니다.')"><span
                                                class="lnr lnr-arrow-right"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>SNS</h4>
                        <ul class="col-lg-6 col-mdcol-sm-6 -6 social-icons">
                            <li style="display: inline-block; margin-left: 3px;" class="custom-mine"><a href="#"
                                                                                                        class="custom-fa"><i
                                    class="fa fa-facebook"></i></a></li>
                            <li style="display: inline-block; margin-left: 3px;" class="custom-mine"><a href="#"
                                                                                                        class="custom-fa"><i
                                    class="fa fa-instagram"></i></a></li>
                            <li style="display: inline-block; margin-left: 3px;" class="custom-mine"><a href="#"
                                                                                                        class="custom-fa"><img
                                    style="width: 30px;" class="fa" th:src="@{/img/blogImg/NaverBlog.png}"></a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom-wrap" th:fragment="footer_bottom">
        <div class="container">
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <!--                <p class="col-lg-8 col-mdcol-sm-6 -6 footer-text m-0">-->
                <!--                    &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
                <!--                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>-->
                <!--                    All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a-->
                <!--                        href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a-->
                <!--                        href="https://themewagon.com" target="_blank">ThemeWagon</a>-->
                <!--                    &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;</p>-->
                <!--                <ul class="col-lg-4 col-mdcol-sm-6 -6 social-icons text-right">-->
                <!--                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
                <!--                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                <!--                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
                <!--                    <li><a href="#"><i class="fa fa-behance"></i></a></li>-->
                <!--                </ul>-->

                <p class="col-lg-8 col-mdcol-sm-6 -6 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Developer by 넨이 &nbsp; &nbsp; <a href="https://code-nen.tistory.com/">Blog</a> | <a
                        href="https://github.com/kevin0181">Github</a>
                    &nbsp; &nbsp; &nbsp; 페이지 오류 문의 : kevin0181@naver.com
                </p>
                <ul class="col-lg-4 col-mdcol-sm-6 -6 social-icons text-right">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <!--                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                    <!--                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
                    <!--                    <li><a href="#"><i class="fa fa-behance"></i></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->
</html>