<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="script">
    <meta charset="UTF-8">
    <title>soso_script</title>

    <script src="../../../js/vendor/jquery-2.2.4.min.js" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
    <script src="../../../js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script src="../../../js/vendor/bootstrap.min.js" th:src="@{/js/vendor/bootstrap.min.js}"></script>
    <script src="../../../js/jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>
    <script src="../../../js/easing.min.js" th:src="@{/js/easing.min.js}"></script>
    <script src="../../../js/hoverIntent.js" th:src="@{/js/hoverIntent.js}"></script>
    <script src="../../../js/superfish.min.js" th:src="@{/js/superfish.min.js}"></script>
    <script src="../../../js/jquery.ajaxchimp.min.js" th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
    <script src="../../../js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script src="../../../js/jquery.nice-select.min.js" th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script src="../../../js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
    <script src="../../../js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
    <script src="../../../js/mail-script.js" th:src="@{/js/mail-script.js}"></script>
    <script src="../../../js/main.js" th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/mine/index2.js}"></script>
    <script th:src="@{/js/mine/sosoReserve.js}"></script>

    <!--    websocket-->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
</html>