<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/user/account/fragment/all_tag.html :: all">
    <title>soso_login</title>
</head>
<body>
<div class="main_container text-center">
    <div class="login_form">
        <div class="form-signin">
            <form class="" th:action="@{/user/login}" method="post">
                <h1 class="h3 fw-normal soso_font"><a class="simple_btn index_btn" th:href="@{/user/index}">소소한 부엌</a>
                </h1>
                <div class="form-floating">
                    <input
                            type="email"
                            class="form-control"
                            id="email"
                            name="username"
                            placeholder="name@example.com"
                    />
                    <label for="email">Email</label>
                </div>
                <div class="form-floating">
                    <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder="Password"
                            style="margin-bottom: 10px; border-radius: 0 0 .25rem .25rem;"
                    />
                    <label for="password">Password</label>
                </div>

                <div class="checkbox" style="height: 35px;">
                    <div>
                        <label class="remember_btn">
                            <input type="checkbox" name="remember-me" id="remember-me"/> Remember me
                        </label>
                    </div>
                    <label class="sign_btn">
                        <a href="#" th:href="@{/user/account/signupPage}" class="simple_btn">sign up</a>
                    </label>
                </div>
                <button class="w-100 btn btn-lg" style="background-color: #5c9b73; color:white;" type="submit">Sign in
                </button>
                <div class="mt-3">
                    <a th:href="@{/user/account/find(kind=id)}" class="simple_btn" style="margin-right: 3px">
                        <small>아이디 찾기</small>
                    </a>
                    <a th:href="@{/user/account/find(kind=password)}" class="simple_btn" style="margin-left: 3px">
                        <small>비밀번호 찾기</small>
                    </a>
                </div>
                <p class="mt-5 mb-3 text-muted">0.0.1_version</p>
            </form>
        </div>
        <div class="social_btn mt-3">
            <button class='btn-social-login' style='background:#1FC700'><i class="xi-2x xi-naver"></i></button>
            <button class='btn-social-login' style='background:#FFEB00'><i class="xi-2x xi-kakaotalk text-dark"></i>
            </button>
            <button class='btn-social-login' style='background:#D93025'
                    onclick="location.href='/oauth2/authorization/google'"><i class="xi-2x xi-google"></i></button>
            <button class='btn-social-login' style='background:#4267B2'><i class="xi-2x xi-facebook"></i></button>
        </div>
    </div>
</div>
</body>
</html>