<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/user/account/fragment/all_tag.html :: all">
    <title>soso_signup</title>
</head>
<body class="main_container">
<div class="text-center" style="margin-top: 5%">
    <div class="">
        <div class="form-signin">
            <form id="signup-form" th:action="@{/user/account/signup}" method="post" th:object="${memberDTO}"
                  novalidate="">
                <h1 class="h3 fw-normal soso_font"><a class="simple_btn index_btn" th:href="@{/user/index}">소소한 부엌</a>
                </h1>
                <div class="form-floating">
                    <input
                            type="email"
                            class="form-control sign_up_input"
                            id="email"
                            name="memberEmail"
                            placeholder="name@example.com"
                            style="border-radius: .25rem"
                            onclick="emailInput()"
                    />
                    <label for="email">이메일</label>
                    <div class="error_cls alert alert-danger" th:if="${#fields.hasErrors('memberEmail')}"
                         th:errors="*{memberEmail}" role="alert">
                        A simple danger alert—check it out!
                    </div>
                </div>

                <!--                이메일 인증-->
                <div class="modal fade" id="emailCheckModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">이메일 인증</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!--                                <form>-->
                                <div class="mb-3" style="text-align: left;">
                                    <label for="certification-emailNumber" class="col-form-label">인증 번호
                                        입력</label>
                                    <input type="text" class="form-control" id="certification-emailNumber"
                                           name="certiNumber">
                                </div>
                                <!--                                </form>-->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" id="emailCheckCloseBtn"
                                        data-bs-dismiss="modal">닫기
                                </button>
                                <button type="button" class="btn btn-primary" onclick="checkCertificationEmailBtn()">
                                    인증
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group mt-3" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="sameEmailBtn" autocomplete="off" checked>
                    <label class="btn btn-outline-primary"
                           style="background-color: #5c9b73; border-color: #5c9b73; color:white;" onclick="same_check()"
                           for="sameEmailBtn">중복 검사</label>
                    <input type="radio" class="btn-check" data-bs-toggle="modal" data-bs-target="#emailCheckModal"
                           name="btnradio" id="emailCheckBtn"
                           autocomplete="off"
                           onclick="certificationEmailSendBtn()">
                    <label class="btn btn-outline-primary" for="emailCheckBtn"
                           style="background-color: #5c9b73; border-color: #5c9b73; color:white;">이메일 인증</label>
                </div>
                <div class="form-floating mt-3">
                    <input
                            type="password"
                            class="form-control"
                            id="f-password"
                            name="password"
                            pattern="(?=.*\d{1,25})(?=.*[a-zA-Z]{1,25}).{8,25}$"
                            style="border-radius: .25rem .25rem 0 0;"
                            placeholder="비밀번호"
                    />
                    <label for="f-password">비밀번호</label>
                    <div class="invalid-feedback">
                        <i class="bx bx-radio-circle"></i>
                        영문자+숫자 조합 8-25자 입력해주세요.
                    </div>
                </div>
                <div class="form-floating">
                    <input
                            type="password"
                            class="form-control"
                            id="s-password"
                            name="RtPassword"
                            placeholder="비밀번호 확인"
                    />
                    <label for="s-password">비밀번호 확인</label>
                    <div class="invalid-feedback" id="s-feedback">
                        <i class="bx bx-radio-circle"></i>
                    </div>
                </div>
                <div class="form-floating">
                    <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="memberName"
                            placeholder="이름"
                    />
                    <label for="name">이름</label>
                </div>
                <div class="form-floating">
                    <input
                            type="text"
                            class="form-control"
                            id="address"
                            name="memberAddress"
                            placeholder="주소"
                    />
                    <label for="address">주소</label>
                </div>
                <div class="form-floating">
                    <input
                            type="tel"
                            class="form-control"
                            id="phoneNumber"
                            name="memberPhonenumber"
                            pattern="^[0-9]+$"
                            placeholder="전화번호"
                    />
                    <label for="phoneNumber">전화번호</label>
                    <div class="invalid-feedback">
                        <i class="bx bx-radio-circle"></i>
                        - 없이 숫자만 입력하세요.
                    </div>
                </div>
                <div class="mb-4" style="margin-top: 3px;">
                    <label class="login_btn">
                        <a href="#" th:href="@{/user/account/login}" class="simple_btn">login</a>
                    </label>
                </div>
                <button class="w-100 btn btn-lg" style="background-color: #5c9b73; color:white;"
                        onclick="signUp()" type="button">Sign up
                </button>
                <div class="checkbox mt-5 mb-3">
                    <div>
                        <label>
                            <input type="checkbox" id="policy" name="policy"/> <a href="#"
                                                                                  th:href="@{/user/account/privacyPolicy}"
                                                                                  class="simple_btn policy_btn"
                                                                                  target="_blank">개인정보 활용 동의
                            동의</a>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('#s-password').keyup(function () {
        if ($('#s-password').val() != $('#f-password').val()) {
            $('#s-password').removeClass("is-valid");
            $('#s-password').addClass("is-invalid");
        } else if ($('#s-password').val() == $('#f-password').val()) {
            $('#s-password').removeClass("is-invalid");
            $('#s-password').addClass("is-valid");
        }
    });
</script>

<script src="../../../static/js/main.js" th:src="@{/js/mine/signup_script.js}"></script>
<script th:replace="/user/user_fragment/script_src :: script"></script>
</body>
</html>



