.btn-active {
    border-radius: .5rem;
    background-color: #86cddb;
}

.top-active {
    background-color: #435ebe;
    border-radius: .5rem;
}

.btn-none {
    display: none;
}

.beforeBlogImg {
    position: absolute;
    left: 60%;
}

@media (max-width: 760px) {
    .activeBlogImg {
        position: static;
    }
}

.kakaoPayImg {
    width: 15%;
}

@media (max-width: 450px) {
    .kakaoPayImg {
        width: 30%;
    }
}
