.btn-active {
    border-radius: .5rem;
    background-color: #86cddb;
}

.top-active {
    background-color: #435ebe;
    border-radius: .5rem;
}

.btn-none {
    display: none;
}

.beforeBlogImg {
    position: absolute;
    left: 60%;
}

@media (max-width: 760px) {
    .activeBlogImg {
        position: static;
    }
}

.kakaoPayImg {
    width: 15%;
}

@media (max-width: 450px) {
    .kakaoPayImg {
        width: 30%;
    }
}

.indexLoadingButton {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000;
    display: none;
}

@media (max-width: 450px) {
    .indexLoadingButton {
        left: 36.5%;
    %;
    }
}

.nice-select {
    width: 100% !important;
}

.nonButton {
    display: none;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: #c9efa8;
}

.green-color {
    color: #c9efa8;
}