<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="css_link">
    <meta charset="UTF-8">
    <title>soso_css_link</title>

    <!--    css-->
    <link rel="stylesheet" href="css/linearicons.css" th:href="@{/css/linearicons.css}">
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="css/magnific-popup.css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" href="css/jquery-ui.css" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" href="css/nice-select.css" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" href="css/animate.min.css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" href="css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css2/main2.css}"/>
    <link rel="stylesheet" th:href="@{/css2/sign.css}"/>
</head>

</html>