<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>soso_header</title>
</head>

<header th:fragment="main_header" id="header">
    <div style="text-align: right;">
        <a class="a_top_btn" style="color:white;" th:href="@{/account/login}">login</a>
        <a class="a_top_btn" style="color:white;" th:href="@{/account/signupPage}">sign up</a>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-center">
                <div id="logo">
                    <a href="index.html"><img src="img/logo.png" alt="" title=""/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-center d-flex">
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="index.html" th:href="@{/index}">Home</a></li>
                    <li><a href="menu.html" th:href="@{/menu}">Menu & Order</a></li>
                    <li class="menu-has-children"><a href="blog-home.html" th:href="@{/blog}">Blog</a>
                    </li>
                    <!-- <li><a href="elements.html">Elements</a></li> -->
                    </li>
                    <li><a href="contact.html" th:href="@{/about}">About</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->

        </div>
    </div>
</header><!-- #header -->
</html>