<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>soso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script rel="javascript" type="text/javascript" src="" th:src="@{/assets/js/jquery-3.6.0.js}"></script>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
    <div th:replace="/user/user_fragment/link.html :: link"></div>
    <div th:replace="/integrated/Favicon_Link/favicon.html :: link"></div>
    <!--
    CSS
    ============================================= -->
    <div th:replace="/user/user_fragment/css_link.html :: css_link"></div>
    <link rel="stylesheet" th:href="@{/assets/css/mine/mine.css}">
</head>
<body>
<div class="spinner-border text-success" role="status" id="index_loading_var" style="position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000;
    display: none;">
    <span class="visually-hidden">Loading...</span>
</div>
<header id="header" th:replace="/user/user_fragment/main_fragment.html :: main_header">
</header><!-- #header -->

<!-- start banner Area -->
<section class="banner-area" th:replace="/user/user_fragment/main_fragment.html :: banner_section">
</section>
<!-- End banner Area -->

<!-- Start home-about Area -->
<section class="home-about-area section-gap" th:replace="/user/user_fragment/main_fragment.html :: home_section">
</section>
<!-- End home-about Area -->

<!-- Start menu-area Area -->
<section class="menu-area section-gap" id="menu" th:replace="/user/user_fragment/main_fragment.html :: menu_section">
</section>
<!-- End menu-area Area -->

<!-- Start order Area -->
<section class="reservation-area section-gap relative"
         th:replace="/user/user_fragment/main_fragment.html :: order_section">
</section>
<!-- End reservation Area -->


<!-- Start menuReview Area -->
<section class="blog-area section-gap" id="blog"
         th:replace="/user/user_fragment/main_fragment.html :: menu_blog_section">
</section>
<!-- End blog Area -->
<!-- Start menuReview Area -->
<section class="blog-area section-gap" id="review"
         th:replace="/user/user_fragment/main_fragment.html :: menuReview_section">
</section>
<!-- End blog Area -->


<!-- start footer Area -->
<footer class="footer-area" th:replace="/user/user_fragment/main_fragment.html :: footer">
</footer>

<div th:replace="/user/user_fragment/script_src.html :: script"></div>

<script th:inline="javascript">
    Date.prototype.toDateInputValue = (function () {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 16);
    });

    $(document).ready(function () {

        $('#orderDate').val(new Date().toDateInputValue());

        /*<![CDATA[*/
        var memberSq = [[${session.memberSq}]];
        /*]]>*/

        if (memberSq != null) {
            memberStartConnect();
            setTimeout(() => sendCount(memberSq, [[${session.memberEMail}]], [[${session.memberRole}]]), 3000);
        }



    });
</script>
</body>
</html>