<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
    <div th:replace="/user/user_fragment/link.html :: link"></div>
    <div th:replace="/user/user_fragment/css_link.html :: css_link"></div>
    <div th:replace="/integrated/Favicon_Link/favicon.html :: link"></div>

    <script src="../../../js/vendor/jquery-2.2.4.min.js" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>

    <!--반응형-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" th:href="@{/mineFile/css/myInfo.css}"/>
</head>
<body>
<header id="header" th:replace="/user/user_fragment/main_fragment.html :: main_header">


</header><!-- #header -->

<!-- start banner Area -->
<section class="relative about-banner">
    <img th:src="@{/img/salf_img/main_img2.jpg}" class="main_img"/>
    <section class="relative about-banner">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        내 정보
                    </h1>
                    <p class="text-white link-nav"><a th:href="@{/user/index}">Home </a> <span
                            class="lnr lnr-arrow-right"></span>
                        <a th:href="@{/user/about}"> My_info</a></p>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- End banner Area -->

<!-- Start contact-page Area -->
<section class="contact-page-area" style="padding-bottom: 120px;padding-top: 30px;">
    <div class="container">
        <div>
            <div id="myInfo">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">
                            정보 변경을 원하시면 수정을 눌러주세요.
                        </th>
                        <th scope="col">
                            <a href="#" class="genric-btn info-border circle arrow" style="line-height: 23px"
                               onclick="changeInfo()">수정<span
                                    class="lnr lnr-arrow-right"></span></a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>이메일</th>
                        <td th:text="${memberDTO.memberEmail}">사용자 이메일</td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td th:text="${memberDTO.memberName}">사용자 이름</td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td th:text="${memberDTO.memberAddress}">사용자 주소</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #dee2e6;">
                        <th>번호</th>
                        <td th:text="${memberDTO.memberPhonenumber}">사용자 번호</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="changeMyInfo" style="display: none;">
                <form th:action="@{/user/account/change/MyInfo}" method="post">
                    <input type="hidden" name="member_sq" th:value="${memberDTO.member_sq}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" colspan="4">
                                변경할 정보를 입력하시고, 수정 버튼을 클릭해주세요. (변경하지 않을 정보는 빈값으로 두시면 됩니다.)
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>이메일</th>
                            <td th:text="${memberDTO.memberEmail}">사용자 이메일</td>
                        </tr>
                        <tr>
                            <th>이름</th>
                            <td>
                                <input type="text" name="memberName" placeholder="이름을 입력해주세요." class="single-input">
                            </td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td>
                                <div class="input-group-icon">
                                    <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                                    <input type="text" name="memberAddress"
                                           placeholder="주소를 입력해주세요.(주소를 잘못적을 시 서비스에 불이익이 있을 수 있습니다.)"
                                           class="single-input">
                                </div>
                            </td>
                        </tr>
                        <tr style="border-bottom: 1px solid #dee2e6;">
                            <th>번호</th>
                            <td>
                                <input type="text" name="memberPhonenumber" placeholder="번호를 입력해주세요."
                                       class="single-input">
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td>
                                <button type="submit" class="genric-btn danger circle changeInfoButton">수정</button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End contact-page Area -->

<section class="contact-page-area" style="padding-bottom: 120px;padding-top: 30px;">
    <div class="container">
        <div class="title" style="margin-bottom: 30px;"><h3 class="fs-md-3 p-2">앤 빠스떼우 주문 내역</h3></div>
        <small>이미 완료된 주문은 취소가 불가능 합니다. 관리자에게 문의 부탁드립니다.</small>
        <div class="orderList">
            <div>
                <div class="card mineCard" th:each="pasOrderList : ${memberDTO.pasOrderDTOList}"
                     th:classappend="${pasOrderList.orderEnable} == false ?'border-success'">
                    <div class="card-content">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${pasOrderList.orderDate}" style="display: inline-block">주문
                                날짜</h5> <small style="display: inline-block"
                                               th:if="${pasOrderList.orderEnable} == false">주문 진행 중</small>
                            <p class="card-text" th:text="${pasOrderList.orderHelp}">
                                help
                            </p>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between"
                            th:each="pasOrderDetailMenu : ${pasOrderList.ordersMenu}">
                            <span class="p-2 bd-highlight"
                                  th:text="'메뉴 이름 : '+${pasOrderDetailMenu.menuOrderName}"></span>
                            <span class="p-2 bd-highlight" th:text="'수량 : '+${pasOrderDetailMenu.menuOrderSize}"></span>
                            <span class="p-2 bd-highlight"
                                  th:text="'가격 : '+${pasOrderDetailMenu.menu_sq.menu_price}+'원'"></span>
                        </li>
                    </ul>
                    <div class="card-footer">
                        <p th:text="'주문자 : '+${pasOrderList.orderName}">주문자 이름</p>
                        <p th:text="'주소 : '+${pasOrderList.orderAddress}">주문자 주소</p>
                        <p th:text="'전화번호 : '+${pasOrderList.orderPhoneNumber}">주문자 번호</p>
                        <p th:text="'총 금액 : '+${pasOrderList.ordersTotalPrice}+'원'">총 금액</p>
                        <p th:text="'주문 번호 : '+${pasOrderList.ordersMerchantUid}">주문 번호</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-page-area" style="padding-bottom: 120px;padding-top: 30px;">
    <div class="container">
        <div class="title" style="margin-bottom: 30px;"><h3 class="fs-md-3 p-2">소소한 부엌 주문 내역</h3></div>
        <small>이미 완료된 주문은 취소가 불가능 합니다. 관리자에게 문의 부탁드립니다.</small>
        <div class="orderList">
            <div>
                <div class="card mineCard" th:each="sosoOrderList : ${memberDTO.sosoOrderDTOS}"
                     th:classappend="${sosoOrderList.orderEnable} == false ?'border-success'">
                    <div class="card-content">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${sosoOrderList.orderDate}" style="display: inline-block">예약
                                날짜</h5>
                            <small style="display: inline-block"
                                   th:if="${sosoOrderList.orderEnable} == false">주문 진행 중</small>
                            <p class="card-text" th:text="${sosoOrderList.orderHelp}">
                                help
                            </p>
                        </div>
                    </div>
                    <div>
                        <p th:text="'방문 인원 수 : '+${sosoOrderList.ordersMemberSize}" style="padding: 1.25rem;">방문 인원
                            수</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between"
                            th:each="sosoOrderDetailMenu : ${sosoOrderList.sosoOrdersDetailDTOS}">
                            <span class="p-2 bd-highlight"
                                  th:text="'메뉴 이름 : '+${sosoOrderDetailMenu.sosoMenuDTO.menuSosoName}"></span>
                            <span class="p-2 bd-highlight"
                                  th:text="'수량 : '+${sosoOrderDetailMenu.menuOrderSize}"></span>
                            <span class="p-2 bd-highlight"
                                  th:text="'가격 : '+${sosoOrderDetailMenu.sosoMenuDTO.menuSosoPrice}+'원'"></span>
                        </li>
                    </ul>
                    <div class="card-footer">
                        <p th:text="'주문자 : '+${sosoOrderList.orderName}">주문자 이름</p>
                        <p th:text="'주소 : '+${sosoOrderList.orderAddress}">주문자 주소</p>
                        <p th:text="'전화번호 : '+${sosoOrderList.orderPhoneNumber}">주문자 번호</p>
                        <p th:text="'총 금액 : '+${sosoOrderList.ordersTotalPrice}+'원'">총 금액</p>
                        <p th:text="'주문 번호 : '+${sosoOrderList.ordersMerchantUid}">주문 번호</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- start footer Area -->
<footer class="footer-area" th:replace="/user/user_fragment/main_fragment.html :: footer">
</footer>
<!-- End footer Area -->
<script>
    function changeInfo() {
        $('#myInfo').hide();
        $('#changeMyInfo').show();
    }
</script>

<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        /*<![CDATA[*/
        var memberSq = [[${session.memberSq}]];
        /*]]>*/

        if (memberSq != null) {
            memberStartConnect();
            setTimeout(() => sendCount(memberSq, [[${session.memberEMail}]], [[${session.memberRole}]]), 3000);
        }
    });
</script>

<div th:replace="/user/user_fragment/script_src.html :: script"></div>
</body>
</html>