<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>soso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="/user/user_fragment/link.html :: link"></div>
    <!--
    CSS
    ============================================= -->
    <div th:replace="/user/user_fragment/css_link.html :: css_link"></div>
    <link rel="stylesheet" th:href="@{/assets/css/mine/mine.css}">
</head>
<body>
<header id="header" th:replace="/user/user_fragment/main_fragment.html :: main_header">
</header><!-- #header -->
<!-- start banner Area -->
<section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    소소한 부엌 예약 페이지
                </h1>
                <p class="text-white link-nav"><a th:href="@{/user/index}">Home </a> <span
                        class="lnr lnr-arrow-right"></span>
                    <a th:href="@{/user/Reserve/calendar}"> soso Reserve Page</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start order Area -->
<section class="reservation-area section-gap relative">
    <div class="row" style="margin-right: 0">
        <div class="col-md-6 ">
            <div class="container">
                <div id="calendarForm"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <div class="time-se">
                    <div class="form-group formMine" style="border-radius: 20px;">
                        <form style="text-align: center;">
                            <h3 style="text-align: center;color: #abcbbb;">soso 예약 주문</h3>
                            <div class="mt-10">
                                <input type="text" name="userName" placeholder="Name" onfocus="this.placeholder = ''"
                                       id="sosoOrderName"
                                       onblur="this.placeholder = 'Name'" required="" class="single-input">
                            </div>
                            <div class="mt-10">
                                <input type="text" name="Email" placeholder="Email" onfocus="this.placeholder = ''"
                                       id="sosoOrderEmail"
                                       onblur="this.placeholder = 'Email'" required="" class="single-input">
                            </div>
                            <div class="mt-10">
                                <input type="text" name="Number" placeholder="Phone Number"
                                       onfocus="this.placeholder = ''"
                                       id="sosoOrderPhoneNumber"
                                       onblur="this.placeholder = 'Phone Number'" required="" class="single-input">
                            </div>
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                                <input type="text" name="address" placeholder="Address" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Address'" required="" class="single-input">
                            </div>
                            <div class="mt-10">
                                <input type="hidden" name="Date" placeholder="Date"
                                       onfocus="this.placeholder = ''"
                                       id="sosoOrderDateHidden"
                                       onblur="this.placeholder = 'Phone Date'" required="" class="single-input">
                                <input type="text" id="sosoOrderDate" name="Number" placeholder="Date" required=""
                                       class="single-input"
                                       disabled>
                            </div>
                            <div class="mt-10">
                                <input type="time" id="sosoOrderTime" name="time" placeholder="time(시계를 눌러주세요)"
                                       required=""
                                       class="single-input">
                            </div>
                            <div class="mt-10">
                                <textarea class="single-textarea form-control"
                                          id="orderHelp" placeholder="하고싶은 말을 적어주세요."></textarea>
                            </div>
                            <div class="mt-10">
                                <input type="checkbox" class="mr-3"><span>주문 정보 활용 동의</span>
                            </div>
                            <button class="primary-btn text-uppercase mt-20" style="background-color: #3ea99d;">주문
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End reservation Area -->
<!--<section class="reservation-area relative" style="margin-bottom: 20%; display: none" id="sosoOrderSection">-->
<!--    <div class="container">-->

<!--    </div>-->
<!--</section>-->
<!-- start footer Area -->
<footer class="footer-area" th:replace="/user/user_fragment/main_fragment.html :: footer">
</footer>

<div th:replace="/user/user_fragment/script_src.html :: script"></div>
</body>
</html>