<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/account/fragment/all_tag.html :: all">
    <title>soso_signup</title>
</head>
<body class="main_container" style="height: 110%">
<div class="text-center" style="margin-top: 5%">
    <div class="">
        <div class="form-signin">
            <form class="">
                <h1 class="h3 fw-normal soso_font"><a class="simple_btn index_btn" th:href="@{/index}">소소한 부엌</a></h1>
                <div class="form-floating">
                    <input
                            type="email"
                            class="form-control sign_up_input"
                            id="email"
                            placeholder="name@example.com"
                            style="border-radius: .25rem"
                    />
                    <label for="email">Email</label>
                </div>
                <div class="form-floating" id="email_check" style="display: none;">
                    <input
                            type="text"
                            class="form-control sign_up_input"
                            id=""
                            placeholder="name@example.com"
                            style="border-radius: 0 0 .25rem .25rem"
                    />
                    <label for="email_check" class="label-email">Check Email Number</label>
                </div>
                <div class="btn-group mt-3" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary"
                           style="background-color: #5c9b73; border-color: #5c9b73; color:white;" onclick="same_check()"
                           for="btnradio1">중복 검사</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"
                           onclick="emailCheck()">
                    <label class="btn btn-outline-primary" for="btnradio3"
                           style="background-color: #5c9b73; border-color: #5c9b73; color:white;">이메일 인증</label>
                </div>
                <div class="form-floating mt-3">
                    <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder="Password"
                            style="border-radius: .25rem .25rem 0 0;"
                    />
                    <label for="password">Password</label>
                </div>
                <div class="form-floating">
                    <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            placeholder="Name"
                    />
                    <label for="name">Name</label>
                </div>
                <div class="form-floating">
                    <input
                            type="text"
                            class="form-control"
                            id="address"
                            name="address"
                            placeholder="Address"
                    />
                    <label for="address">Address</label>
                </div>
                <div class="form-floating">
                    <input
                            type="tel"
                            class="form-control"
                            id="phoneNumber"
                            name="phoneNumber"
                            placeholder="Phone Number"
                    />
                    <label for="phoneNumber">Phone Number</label>
                </div>
                <div class="mb-4" style="margin-top: 3px;">
                    <label class="login_btn">
                        <a href="#" th:href="@{/account/login}" class="simple_btn">login</a>
                    </label>
                </div>
                <button class="w-100 btn btn-lg" style="background-color: #5c9b73; color:white;" type="submit">Sign up
                </button>
                <div class="checkbox mt-5 mb-3">
                    <div>
                        <label>
                            <input type="checkbox" value="remember-me"/> <a href="#"
                                                                            th:href="@{/account/privacyPolicy}"
                                                                            class="simple_btn policy_btn"
                                                                            target="_blank">개인정보 활용
                            동의</a>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="js/main.js" th:src="@{/js/mine/signup_script.js}"></script>
</body>
</html>