<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/account/fragment/all_tag.html :: all">
    <title>soso_signup</title>
</head>
<body>
<div class="main_container text-center">
    <div class="sign_form">
        <div class="form-signin">
            <form class="">
                <h1 class="h3 fw-normal soso_font"><a class="simple_btn index_btn" th:href="@{/index}">소소한 부엌</a></h1>
                <div class="form-floating">
                    <input
                            type="email"
                            class="form-control"
                            id="email"
                            placeholder="name@example.com"
                    />
                    <label for="email">Email</label>
                </div>
                <div class="form-floating">
                    <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder="Password"
                    />
                    <label for="password">Password</label>
                </div>
                <div class="form-floating">
                    <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="phoneNumber"
                            placeholder="Name"
                    />
                    <label for="name">Name</label>
                </div>
                <div class="form-floating">
                    <input
                            type="text"
                            class="form-control"
                            id="address"
                            name="address"
                            placeholder="Address"
                    />
                    <label for="address">Address</label>
                </div>
                <div class="form-floating">
                    <input
                            type="tel"
                            class="form-control"
                            id="phoneNumber"
                            name="phoneNumber"
                            placeholder="Phone Number"
                    />
                    <label for="phoneNumber">Phone Number</label>
                </div>
                <div class="mb-4" style="margin-top: 3px;">
                    <label class="login_btn">
                        <a href="#" th:href="@{/account/login}" class="simple_btn">login</a>
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                <div class="checkbox mt-5 mb-3">
                    <div>
                        <label>
                            <input type="checkbox" value="remember-me"/> <a href="#"
                                                                            th:href="@{/account/privacyPolicy}"
                                                                            class="simple_btn policy_btn"
                                                                            target="_blank">개인정보 활용
                            동의</a>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>