<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- bootstrap -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
            crossorigin="anonymous"
    ></script>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

    <!-- id and password form css		 -->
    <link href="/css/signin.css" th:href="@{/css/signin.css}" rel="stylesheet"/>
    <link href="/css/style.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="/css/total.css" th:href="@{/css/total.css}" rel="stylesheet"/>

</head>
<body>
<div class="main_container text-center">
    <div class="sign_form">
        <div class="form-signin">
            <form class="">
                <h1 class="h3 mb-5 fw-normal soso_font">소소한 부엌</h1>
                <div class="form-floating">
                    <input
                            type="email"
                            class="form-control"
                            id="email"
                            placeholder="name@example.com"
                    />
                    <label for="email">Email</label>
                </div>
                <div class="form-floating">
                    <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder="Password"
                    />
                    <label for="password">Password</label>
                </div>
                <div class="form-floating">
                    <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="phoneNumber"
                            placeholder="Name"
                    />
                    <label for="name">Name</label>
                </div>
                <div class="form-floating">
                    <input
                            type="text"
                            class="form-control"
                            id="address"
                            name="address"
                            placeholder="Address"
                    />
                    <label for="address">Address</label>
                </div>
                <div class="form-floating">
                    <input
                            type="tel"
                            class="form-control"
                            id="phoneNumber"
                            name="phoneNumber"
                            placeholder="Phone Number"
                    />
                    <label for="phoneNumber">Phone Number</label>
                </div>
                <div class="mb-4" style="margin-top: 3px;">
                    <label>
                        <a href="#" th:href="@{/account/login}" class="login_btn">login</a>
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                <div class="checkbox mt-5 mb-3">
                    <div>
                        <label>
                            <input type="checkbox" value="remember-me"/> <a href="#"
                                                                            th:href="@{/account/privacyPolicy}"
                                                                            class="simple_btn" target="_blank">개인정보 활용
                            동의</a>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>