<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
    <div th:replace="/fragment/link.html :: link"></div>
    <div th:replace="/fragment/css_link.html :: css_link"></div>
</head>
<body>
<header id="header" th:replace="/fragment/main_fragment.html :: main_header">


</header><!-- #header -->

<!-- start banner Area -->
<section class="about-banner relative">
    <img th:src="@{/img/salf_img/main_img2.jpg}" class="main_img"/>
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Menus
                </h1>
                <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span>
                    <a href="menu.html"> Menus</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start menu-area Area -->
<section class="menu-area section-gap" id="menu" th:replace="/fragment/main_fragment.html :: menu_section">
</section>
<!-- End menu-area Area -->

<!-- Start reservation Area -->
<section class="reservation-area section-gap relative" th:replace="/fragment/main_fragment.html :: order_section">
</section>
<!-- End reservation Area -->

<!-- start footer Area -->
<footer class="footer-area" th:replace="/fragment/main_fragment.html :: footer">
</footer>
<!-- End footer Area -->
<div th:replace="/fragment/script_src.html :: script"></div>

</body>
</html>