<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/user/account/fragment/all_tag.html :: all">
    <title>soso 비밀번호 초기화</title>
</head>
<body>
<div class="main_container text-center">
    <div class="login_form">
        <!--비밀번호 변경-->
        <div class="form-signin">
            <form class="" id="changePasswordForm" th:action="@{/user/account/change/password}" method="post">
                <h1 class="h3 fw-normal soso_font"><a class="simple_btn index_btn" th:href="@{/user/index}">소소한 부엌</a>
                </h1>
                <input type="hidden" name="member_sq" th:value="${memberDTO.member_sq}">
                <input type="hidden" name="memberEmail" th:value="${memberDTO.memberEmail}">
                <input type="hidden" name="memberName" th:value="${memberDTO.memberName}">
                <input type="hidden" name="memberAddress" th:value="${memberDTO.memberAddress}">
                <input type="hidden" name="memberPhonenumber" th:value="${memberDTO.memberPhonenumber}">
                <input type="hidden" name="policy" th:value="${memberDTO.policy}">
                <div class="form-floating">
                    <input
                            type="password"
                            class="form-control"
                            id="f-password"
                            name="password"
                            placeholder="새로운 비밀번호를 입력해주세요."
                            style="border-top-left-radius: .25rem; border-top-right-radius: .25rem" ;
                    />
                    <label for="f-password">새로운 비밀번호</label>
                </div>
                <div class="form-floating">
                    <input
                            type="password"
                            class="form-control"
                            id="s-password"
                            name=""
                            placeholder="비밀번호 확인"
                            style="border-radius: 0 0 .25rem .25rem;"
                    />
                    <label for="s-password">비밀번호 확인</label>
                </div>

                <div class="checkbox" style="height: 35px;text-align: right">
                    <label class="">
                        <a href="#" th:href="@{/user/index}" class="simple_btn">soso</a>
                    </label>
                </div>
                <button class="w-100 btn btn-lg" style="background-color: #5c9b73; color:white;" type="button"
                        onclick="changePassword()">비밀번호 변경
                </button>
                <p class="mt-5 mb-3 text-muted">0.0.1_version</p>
            </form>
        </div>
    </div>
</div>
<script>
    $('#s-password').keyup(function () {
        if ($('#s-password').val() != $('#f-password').val()) {
            $('#s-password').removeClass("is-valid");
            $('#s-password').addClass("is-invalid");
        } else if ($('#s-password').val() == $('#f-password').val()) {
            $('#s-password').removeClass("is-invalid");
            $('#s-password').addClass("is-valid");
        }
    });

    function changePassword() {
        if ($('#s-password').val() != $('#f-password').val()){
            alert("비밀번호가 맞지 않습니다.");
        }else if($('#s-password').val() == $('#f-password').val()){
            alert("비밀번호가 초기화 되었습니다.");
            $('#changePasswordForm').submit();
        }
    }
</script>
</body>
</html>