<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>soso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="/user/user_fragment/link.html :: link"></div>
    <div th:replace="/integrated/Favicon_Link/favicon.html :: link"></div>
    <!--
    CSS
    ============================================= -->
    <div th:replace="/user/user_fragment/css_link.html :: css_link"></div>
    <link rel="stylesheet" th:href="@{/static/assets/css/mine/mine.css}">
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>
<body>
<header id="header" th:replace="/user/user_fragment/main_fragment.html :: main_header">
</header><!-- #header -->
<!-- start banner Area -->
<section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    소소한 부엌 예약 페이지
                </h1>
                <p class="text-white link-nav"><a th:href="@{/user/index}">Home </a> <span
                        class="lnr lnr-arrow-right"></span>
                    <a th:href="@{/user/Reserve/calendar}"> soso Reserve Page</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start order Area -->
<section class="reservation-area section-gap relative">
    <div class="row" style="margin-right: 0">
        <div class="col-md-6 " style="padding-right: 0">
            <div class="container">
                <div id="calendarForm"></div>
            </div>
            <div class="container" style="margin-top: 10%;">
                <div class="card text-center">
                    <div class="card-header">
                        소소한 부엌 예약 사용 설명
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">예약 방법!</h5>
                        <p class="card-text">5인 이하 : 6인 메뉴 제외하고 주문해주시면 됩니다.<small style="color: red;">주의! 기본이 들어간 메뉴는
                            선택하시면 안됩니다.</small></p>
                        <p class="card-text">6인 이상 : 기본 20000원에서 시작으로 매일 변경되는 메뉴가 나갑니다.<small style="color: red;">
                            6인 이상은 메뉴 선택X -> (기본) 으로 주문해주세요.
                        </small></p>
                        <p class="card-text">전화 문의 가능합니다. 010-8318-9956</p>
                    </div>
                    <div class="card-footer text-muted">
                        <a href="https://blog.naver.com/arang0181" target="_blank">예약 문의</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-right: 0">
            <div class="container">
                <div class="time-se">
                    <div class="form-group card formMine" style="border-radius: 10px;">
                        <form style="text-align: center;" id="sosoOrderForm" method="post"
                              th:action="@{/user/Reserve/calendar/order}">
                            <h3 style="text-align: center;color: #abcbbb;margin-top: 20px"
                                class="">soso 예약
                                주문</h3>
                            <div class="card-body">
                                <input type="hidden" th:value="${session.memberSq}" name="memberSq">
                                <div class="mt-10">
                                    <input type="text" name="orderName" placeholder="Name"
                                           onfocus="this.placeholder = ''"
                                           id="sosoOrderName"
                                           onblur="this.placeholder = 'Name'" required="" class="single-input">
                                </div>
                                <div class="mt-10">
                                    <input type="text" name="orderPhoneNumber" placeholder="Phone Number"
                                           onfocus="this.placeholder = ''"
                                           id="sosoOrderPhoneNumber"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                           onblur="this.placeholder = 'Phone Number'" required="" class="single-input">
                                </div>
                                <div class="input-group-icon mt-10">
                                    <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                                    <input type="text" name="orderAddress" placeholder="Address"
                                           onfocus="this.placeholder = ''"
                                           id="sosoOrderAddress"
                                           onblur="this.placeholder = 'Address'" required="" class="single-input">
                                </div>
                                <div class="mt-10">
                                    <input type="hidden" name="Date" placeholder="Date"
                                           onfocus="this.placeholder = ''"
                                           id="sosoOrderDateHidden"
                                           onblur="this.placeholder = 'Phone Date'" required="" class="single-input">
                                    <input type="text" id="sosoOrderDate" name="Number" placeholder="Date" required=""
                                           class="single-input"
                                           disabled>
                                </div>
                                <div class="mt-10">
                                    <input type="time" id="sosoOrderTime" name="time" placeholder="time(시계를 눌러주세요)"
                                           required=""
                                           class="single-input">
                                </div>
                                <div class="mt-10">
                                <textarea class="single-textarea form-control" name="orderHelp"
                                          id="orderHelp" placeholder="하고싶은 말을 적어주세요."></textarea>
                                </div>
                                <div class="input-group-icon mt-10" id="selectPayDiv">
                                    <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                                    <div class="form-select" id="default-select">
                                        <select id="selectPayVale">
                                            <option value="none">지불 방식</option>
                                            <option value="kakaopay">카카오페이</option>
                                            <!--                                            <option value="tosspay">토스</option>-->
                                            <!--                                        <option value="payco">페이코</option>-->
                                        </select>
                                    </div>
                                </div>
                                <div class="mt-10">
                                    <input type="number" name="orderUserSize" placeholder="인원 수를 적어주세요."
                                           onfocus="this.placeholder = ''"
                                           id="sosoUserSize" onkeyup="userSizeCheck(this)"
                                           onblur="this.placeholder = '인원 수를 적어주세요.'" required="" class="single-input">
                                </div>
                                <div class="mt-10" id="sosoMenuDiv" style="display: none;">
                                    <div class="single-element-widget">
                                        <div class="form-select" id="default-select" style="display: inline">
                                            <select id="selectSosoMenu">
                                                <option th:each="sosoMenulist : ${sosoMenuList}"
                                                        th:if="${sosoMenulist.menuLimit} == '특별메뉴'"
                                                        th:text="${sosoMenulist.menuSosoName}"
                                                        th:value="${sosoMenulist.menu_order_sq}"></option>
                                            </select>
                                        </div>
                                        <div>
                                            <p id="totalPrice" style="display: inline-block;margin-top: 10px;">
                                            </p>
                                            <input type="hidden" id="totalHiddenInputPrice">
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-10" id="sosoDefultMenuDiv"
                                     style="display: none;">
                                </div>
                                <div class="mt-10" style="display: none;" id="sosoAddMenuDiv">
                                    <p onclick="addMenuBySosoMenu()"
                                       style="color: #5d9569; display: inline-block; margin: 0px 5px;">메뉴
                                        추가</p>
                                    <p onclick="deleteMenuBySosoMenu()"
                                       style="color: red; display: inline-block; margin: 0px 5px;">메뉴 삭제</p>
                                </div>
                                <div class="mt-10" style="display: none;" id="sosoNomalTotalDiv">
                                    <p id="sosoNomalTotal" style="display: inline-block;margin-top: 10px;">
                                    </p>
                                    <input type="hidden" id="sosoHiddenNomalTotal">
                                </div>
                                <div class="mt-10">
                                    <input type="checkbox" id="sosoOrderCheckbox" name="ordersPolicy"
                                           class="mr-3"><span> <a th:href="@{/user/soso/Reserve/policy}"
                                                                  target="_blank">주문 정보 활용 동의</a></span>
                                </div>
                                <a class="primary-btn text-uppercase mt-20"
                                   th:onclick="sosoOrder([[${session.memberSq}]],[[${session.memberEMail}]])"
                                   style="background-color: #3ea99d; color: white">
                                    주문
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div style="margin-top: 10%;margin-left: 5%;">
                <p style="margin-bottom: 0">소소한 부엌 예약</p>
                <small>예약 비용: 총 요금의 10% </small><br>
                <small>예약 시 주의사항 : 7일전 환불 문의 주셔야 환불 가능합니다.</small><br>
                <!--                <p style="margin-bottom: 0;margin-top: 20px;">이용 약관</p>-->
                <!--                <small>&#45;&#45;</small><br>-->
                <p style="margin-bottom: 0;margin-top: 20px;">예약 환불 규정</p>
                <small>7일전 : 전액 환불</small><br>
                <small>6 ~ 1일전 : 환불 불가</small><br>
                <small>예약시 적는 이름과 전화번호가 일치해야 환불이 가능합니다. 꼭 제대로 적어주세요!</small><br>
                <small>환불 문의 : 010-8318-9956</small><br>
            </div>
        </div>
    </div>
</section>
<!-- End reservation Area -->
<!--<section class="reservation-area relative" style="margin-bottom: 20%; display: none" id="sosoOrderSection">-->
<!--    <div class="container">-->

<!--    </div>-->
<!--</section>-->
<!-- start footer Area -->
<footer class="footer-area" th:replace="/user/user_fragment/main_fragment.html :: footer">
</footer>


<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        /*<![CDATA[*/
        var memberSq = [[${session.memberSq}]];
        /*]]>*/

        if (memberSq != null) {
            memberStartConnect();
            setTimeout(() => sendCount(memberSq, [[${session.memberEMail}]], [[${session.memberRole}]]), 3000);
        }

    });

</script>

<div th:replace="/user/user_fragment/script_src.html :: script"></div>
</body>
</html>